In [1]:
import pandas as pd
import numpy as np

Para ecobici

In [2]:
# Para identificar los atributos
prueba = pd.read_csv('ecobici/2019.csv')
print(prueba.columns)
del prueba

/tmp/ipykernel_10662/1642954940.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  prueba = pd.read_csv('ecobici/2019.csv')

Index(['Genero_Usuario', 'Edad_Usuario', 'Bici', 'Ciclo_Estacion_Retiro',
       'Fecha_Retiro', 'Hora_Retiro', 'Ciclo_Estacion_Arribo', 'Fecha_Arribo',
       'Hora_Arribo', 'Tiempo_viaje'],
      dtype='object')

In [41]:
prueba = pd.read_csv('ecobici/2019.csv', low_memory=False)

In [42]:
print(prueba['Edad_Usuario'].unique())

[ 36  38  43  37  44  23  31  27  21  46  29  34  39  47  19  35  28  68
  30  33  55  50  25  26  24  51  42  32  71  40  41  48  54  65  53  22
  52  57  61  70  63  60  76  49  58  45  67  18  59  56  20  66  72  73
  69  64  62  77  17  78  75  16  74  82  83  79  84  81  92  80 108  96
 119]

In [43]:
prueba = pd.read_csv('ecobici/2020.csv', low_memory=False)

In [44]:
print(prueba['Edad_Usuario'].unique())

[ 33  30  36  29  49  17  35  25  32  37  28  55  58  31  62  60  44  42
  51  34  24  22  48  41  39  40  26  46  56  43  38  47  21  27  50  57
  64  20  69  72  23  18  66  52  61  63  45  54  71  53  65  77  68  59
  75  67  19  74  73  70  78  16  76  79  94  80  82  83 119 111  81  87
  88  84  85 120  89 121]

In [45]:
prueba = pd.read_csv('ecobici/2021.csv', low_memory=False)

In [46]:
print(prueba['Edad_Usuario'].unique())

[ 32  24  35  34  26  63  22  56  51  28  30  46  42  48  29  27  74  37
  52  36  25  66  31  33  39  47  40  45  76  58  50  62  68  55  38  64
  41  53  54  44  23  21  49  60  43  20  71  61  57  59  77  67  73  80
  19  65  89  72  78  75  70  69  79  18  17  81  84  82 121  86  85  90]

In [47]:
prueba = pd.read_csv('ecobici/2022.csv', low_memory=False)

In [48]:
print(prueba['Edad_Usuario'].unique())

[ 40  65  49  69  46  70  58  47  61  62  45  63  59  42  57  43  67  51
  52  48  71  41  56  77  50  44  39  68  76  64  31  35  54  66  34  37
  36  80  60  53  38  55  33  74  32  83  73  72  30  75  25  28  26  81
  29  27  79  78  23  24  87  22  21  20  19  18  84  82  85 122  90  16
  17  88  96]

In [49]:
prueba = pd.read_csv('ecobici/2023.csv', low_memory=False)

In [50]:
print(prueba['Edad_Usuario'].unique())

[ 45  27  34  58  23  35  32  26  31  28  39  42  33  46  56  25  52  24
  30  40  20  62  41  37  36  47  60  29  55  64  44  21  63  43  51  57
  38  65  22  67  59  49  68  53  74  54  48  61  19  72  50  66  76  82
  69  73  18  70  71  80  78  79  17  88  75  16  77  81  89  84  83 123
  87  86 100  95  99 145  97 137  96  98 152 119]

In [51]:
print(prueba['Edad_Usuario'].unique())

[ 45  27  34  58  23  35  32  26  31  28  39  42  33  46  56  25  52  24
  30  40  20  62  41  37  36  47  60  29  55  64  44  21  63  43  51  57
  38  65  22  67  59  49  68  53  74  54  48  61  19  72  50  66  76  82
  69  73  18  70  71  80  78  79  17  88  75  16  77  81  89  84  83 123
  87  86 100  95  99 145  97 137  96  98 152 119]

In [52]:
prueba = pd.read_csv('ecobici/2024.csv', low_memory=False)

In [53]:
print(prueba['Edad_Usuario'].unique())

[ 48  26  37  30  56  67  64  22  39  23  27  34  28  55  29  41  33  20
  47  24  21  44  25  43  32  58  69  59  42  35  31  45  18  51  50  62
  49  36  40  46  54  57  52  19  38  63  68  73  65  61  75  81  53  66
  60  84  74  72  70  77  71  17  78  79  82  16  80  76 100  98  88  97
 101  90  99  91  83  89 122 102 110  85 160 123  94  96]

In [54]:
del prueba

In [55]:
edades_atipicas_eco = [108, 119, 111, 121, 122, 100, 123, 145, 152, 110, 102, 160]

In [59]:
def limpieza_ecobici(data):
    # Handle mixed data types (recommended for future compatibility)
    data = data.infer_objects()  # Attempt to convert appropriate columns to object type

    # Clean Genero_Usuario
    data['Genero_Usuario'] = data['Genero_Usuario'].replace('', np.nan)
    data['Genero_Usuario'] = data['Genero_Usuario'].ffill()  # Forward fill missing values

    # Clean Edad_Usuario
    data['Edad_Usuario'] = data['Edad_Usuario'].replace('', np.nan)
    data['Edad_Usuario'] = data['Edad_Usuario'].replace([np.inf, -np.inf], 25)  # Replace infinite values with NaN
    data['Edad_Usuario'] = data['Edad_Usuario'].fillna(25)
    data['Edad_Usuario'] = data['Edad_Usuario'].astype(int)  # Convert to integer
    data['Edad_Usuario'] = data['Edad_Usuario'].ffill()  # Forward fill missing values
    data['Edad_Usuario'] = data['Edad_Usuario'].apply(lambda x: np.random.randint(20, 46) if x in edades_atipicas_eco else x)

    return data

In [60]:
for i in range(2019, 2025):
    data = pd.read_csv('ecobici/' + str(i) + '.csv', low_memory=False)
    data = limpieza_ecobici(data)
    data.to_csv('ecobici/' + str(i) + '.csv', index=False)
    del data
    print('Limpieza de ' + str(i) + ' terminada')

Limpieza de 2019 terminada
Limpieza de 2020 terminada
Limpieza de 2021 terminada
Limpieza de 2022 terminada
Limpieza de 2023 terminada
Limpieza de 2024 terminada

Para mibici

In [15]:
# Para identificar los atributos
prueba = pd.read_csv('mibici/2019.csv')
print(prueba.columns)
del prueba

Index(['Viaje_Id', 'Usuario_Id', 'Genero', 'AÃ±o_de_nacimiento',
       'Inicio_del_viaje', 'Fin_del_viaje', 'Origen_Id', 'Destino_Id',
       'Tiempo_viaje'],
      dtype='object')

In [17]:
prueba = pd.read_csv('mibici/2019.csv')
print(prueba['AÃ±o_de_nacimiento'].unique())

[1992. 1985. 1995. 1998. 1996. 1987. 1974. 1975. 1994. 1990. 1997. 1984.
 1986. 1988. 1982. 1981. 1991. 1999. 1965. 1993. 1972. 1979. 1980. 1989.
 2000. 1973. 1970. 1963. 1971. 1967. 1977. 1964. 1983. 1962. 1969. 1976.
 1968. 1959. 1966. 1978. 2001. 1960. 1961.   nan 1954. 1956. 1958. 1953.
 1952. 1949. 1948. 1951. 1957. 2002. 1944. 1955. 1942. 1950. 1945. 1933.
 1943. 1918. 1941. 1947. 1940. 1946. 1922. 1936. 1931. 2003. 1917. 1920.]

In [18]:
print(np.sort(prueba['AÃ±o_de_nacimiento'].unique()))

[1917. 1918. 1920. 1922. 1931. 1933. 1936. 1940. 1941. 1942. 1943. 1944.
 1945. 1946. 1947. 1948. 1949. 1950. 1951. 1952. 1953. 1954. 1955. 1956.
 1957. 1958. 1959. 1960. 1961. 1962. 1963. 1964. 1965. 1966. 1967. 1968.
 1969. 1970. 1971. 1972. 1973. 1974. 1975. 1976. 1977. 1978. 1979. 1980.
 1981. 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991. 1992.
 1993. 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003.   nan]

In [19]:
print(prueba['Genero'].unique())

['M' 'F' nan]

In [20]:
prueba = pd.read_csv('mibici/2020.csv')

In [21]:
print(np.sort(prueba['AÃ±o_de_nacimiento'].unique()))

[1917. 1918. 1920. 1922. 1931. 1940. 1941. 1942. 1943. 1944. 1945. 1946.
 1947. 1948. 1949. 1950. 1951. 1952. 1953. 1954. 1955. 1956. 1957. 1958.
 1959. 1960. 1961. 1962. 1963. 1964. 1965. 1966. 1967. 1968. 1969. 1970.
 1971. 1972. 1973. 1974. 1975. 1976. 1977. 1978. 1979. 1980. 1981. 1982.
 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991. 1992. 1993. 1994.
 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003.   nan]

In [22]:
print(prueba['Genero'].unique())

['M' 'F' nan]

In [23]:
prueba = pd.read_csv('mibici/2021.csv')

In [27]:
print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

[-9223372036854775808                    1                 1918
                 1920                 1922                 1931
                 1940                 1941                 1942
                 1943                 1944                 1945
                 1946                 1947                 1948
                 1949                 1950                 1951
                 1952                 1953                 1954
                 1955                 1956                 1957
                 1958                 1959                 1960
                 1961                 1962                 1963
                 1964                 1965                 1966
                 1967                 1968                 1969
                 1970                 1971                 1972
                 1973                 1974                 1975
                 1976                 1977                 1978
                 1979                 1980                 1981
                 1982                 1983                 1984
                 1985                 1986                 1987
                 1988                 1989                 1990
                 1991                 1992                 1993
                 1994                 1995                 1996
                 1997                 1998                 1999
                 2000                 2001                 2002
                 2003                 2004                 2005
                 2008                 2021]

/tmp/ipykernel_10662/2218126997.py:1: RuntimeWarning: invalid value encountered in cast
  print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

In [28]:
print(prueba['Genero'].unique())

['M' 'F' nan]

In [29]:
prueba = pd.read_csv('mibici/2022.csv')

In [31]:
print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

[-9223372036854775808                    1                 1920
                 1933                 1939                 1940
                 1941                 1942                 1944
                 1945                 1946                 1947
                 1948                 1949                 1950
                 1951                 1952                 1953
                 1954                 1955                 1956
                 1957                 1958                 1959
                 1960                 1961                 1962
                 1963                 1964                 1965
                 1966                 1967                 1968
                 1969                 1970                 1971
                 1972                 1973                 1974
                 1975                 1976                 1977
                 1978                 1979                 1980
                 1981                 1982                 1983
                 1984                 1985                 1986
                 1987                 1988                 1989
                 1990                 1991                 1992
                 1993                 1994                 1995
                 1996                 1997                 1998
                 1999                 2000                 2001
                 2002                 2003                 2004
                 2005                 2006                 2008
                 2021                 2022]

/tmp/ipykernel_10662/2218126997.py:1: RuntimeWarning: invalid value encountered in cast
  print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

In [32]:
print(prueba['Genero'].unique())

['M' 'F' nan]

In [33]:
prueba = pd.read_csv('mibici/2023.csv')

In [34]:
print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

[-9223372036854775808                 1920                 1933
                 1939                 1940                 1941
                 1942                 1944                 1945
                 1946                 1947                 1948
                 1949                 1950                 1951
                 1952                 1953                 1954
                 1955                 1956                 1957
                 1958                 1959                 1960
                 1961                 1962                 1963
                 1964                 1965                 1966
                 1967                 1968                 1969
                 1970                 1971                 1972
                 1973                 1974                 1975
                 1976                 1977                 1978
                 1979                 1980                 1981
                 1982                 1983                 1984
                 1985                 1986                 1987
                 1988                 1989                 1990
                 1991                 1992                 1993
                 1994                 1995                 1996
                 1997                 1998                 1999
                 2000                 2001                 2002
                 2003                 2004                 2005
                 2006                 2007                 2021
                 2022                 2023]

/tmp/ipykernel_10662/2218126997.py:1: RuntimeWarning: invalid value encountered in cast
  print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

In [35]:
print(prueba['Genero'].unique())

['M' 'F' nan]

In [36]:
prueba = pd.read_csv('mibici/2024.csv')

In [37]:
print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

[-9223372036854775808                  200                 1920
                 1937                 1938                 1939
                 1941                 1942                 1944
                 1945                 1946                 1948
                 1949                 1950                 1951
                 1952                 1953                 1954
                 1955                 1956                 1957
                 1958                 1959                 1960
                 1961                 1962                 1963
                 1964                 1965                 1966
                 1967                 1968                 1969
                 1970                 1971                 1972
                 1973                 1974                 1975
                 1976                 1977                 1978
                 1979                 1980                 1981
                 1982                 1983                 1984
                 1985                 1986                 1987
                 1988                 1989                 1990
                 1991                 1992                 1993
                 1994                 1995                 1996
                 1997                 1998                 1999
                 2000                 2001                 2002
                 2003                 2004                 2005
                 2006                 2007                 2008
                 2023]

/tmp/ipykernel_10662/2218126997.py:1: RuntimeWarning: invalid value encountered in cast
  print(np.sort(prueba['AÃ±o_de_nacimiento'].unique().astype(int)))

In [39]:
print(prueba['Genero'].unique())

['M' 'F' nan]

In [65]:
aÃ±o_atipico = [25, 1917, 1918, 1919, 1920, 1, 200, 2021, 2022, 2023]

In [66]:
def limpieza_mibici(data):
    data = data.infer_objects()  # Attempt to convert appropriate columns to object type
    # Handle mixed data types (recommended for future compatibility)
    # Fill AÃ±o_de_nacimiento with coherent values from the same Usuario_Id
    data['AÃ±o_de_nacimiento'] = data.groupby('Usuario_Id')['AÃ±o_de_nacimiento'].transform(lambda x: x.ffill().bfill())
    # Fill Genero with coherent values from the same Usuario_Id
    data['Genero'] = data.groupby('Usuario_Id')['Genero'].transform(lambda x: x.ffill().bfill())
    

    # Clean Genero_Usuario
    data['Genero'] = data['Genero'].replace('', np.nan)
    data['Genero'] = data['Genero'].ffill()  # Forward fill missing values

    # Clean AÃ±o_de_nacimiento
    data['AÃ±o_de_nacimiento'] = data['AÃ±o_de_nacimiento'].replace('', np.nan)
    data['AÃ±o_de_nacimiento'] = data['AÃ±o_de_nacimiento'].replace([np.inf, -np.inf], 1973)  # Replace infinite values with NaN
    data['AÃ±o_de_nacimiento'] = data['AÃ±o_de_nacimiento'].fillna(1973)
    data['AÃ±o_de_nacimiento'] = data['AÃ±o_de_nacimiento'].astype(int)  # Convert to integer
    data['AÃ±o_de_nacimiento'] = data['AÃ±o_de_nacimiento'].ffill()  # Forward fill missing values
    data['AÃ±o_de_nacimiento'] = data['AÃ±o_de_nacimiento'].apply(lambda x: np.random.randint(1970, 2010) if x in aÃ±o_atipico else x)

    return data

In [67]:
for i in range(2019, 2025):
    data = pd.read_csv('mibici/' + str(i) + '.csv', low_memory=False)
    data = limpieza_mibici(data)
    data.to_csv('mibici/' + str(i) + '.csv', index=False)
    del data
    print('Limpieza de ' + str(i) + ' terminada')

/tmp/ipykernel_10662/3746656210.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Genero'] = data.groupby('Usuario_Id')['Genero'].transform(lambda x: x.ffill().bfill())

Limpieza de 2019 terminada

/tmp/ipykernel_10662/3746656210.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Genero'] = data.groupby('Usuario_Id')['Genero'].transform(lambda x: x.ffill().bfill())

Limpieza de 2020 terminada

/tmp/ipykernel_10662/3746656210.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Genero'] = data.groupby('Usuario_Id')['Genero'].transform(lambda x: x.ffill().bfill())

Limpieza de 2021 terminada

/tmp/ipykernel_10662/3746656210.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Genero'] = data.groupby('Usuario_Id')['Genero'].transform(lambda x: x.ffill().bfill())

Limpieza de 2022 terminada

/tmp/ipykernel_10662/3746656210.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Genero'] = data.groupby('Usuario_Id')['Genero'].transform(lambda x: x.ffill().bfill())

Limpieza de 2023 terminada

/tmp/ipykernel_10662/3746656210.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Genero'] = data.groupby('Usuario_Id')['Genero'].transform(lambda x: x.ffill().bfill())

Limpieza de 2024 terminada