In [1]:
# Librer√≠as
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import re

In [11]:
nomenclatura = pd.read_csv('nomenclaturas/nomenclatura_ecobici.csv', encoding='latin1')
nomenclatura.head()

,sistema,num_cicloe,calle_prin,calle_secu,colonia,alcaldia,latitud,longitud,sitio_de_e,estatus
0,Ecobici,100,20 de Noviembre,Mesones,Centro,Cuauhtemoc,19.428485,-99.133800,Banqueta,Instalada
1,Ecobici,102,Echeveste,Simon Bolivar,Centro,Cuauhtemoc,19.428214,-99.139494,Banqueta,Instalada
2,Ecobici,103,Joaquin Velazquez de Leon,Garcia Icazbalceta,San Rafael,Cuauhtemoc,19.441533,-99.165268,Arroyo,Instalada
3,Ecobici,104,San Jeronimo,Isabel la Catolica,Centro,Cuauhtemoc,19.427059,-99.137116,Banqueta,Instalada
4,Ecobici,105,San Jeronimo,5 de Febrero,Centro,Cuauhtemoc,19.426755,-99.135014,Arroyo,Instalada

In [12]:
# Verificar si hay valores en 'num_cicloestacion' que no son enteros
non_integer_values = nomenclatura[~nomenclatura['num_cicloe'].apply(lambda x: isinstance(x, int))]
print(non_integer_values)

     sistema num_cicloe                 calle_prin              calle_secu  \
0    Ecobici        100            20 de Noviembre                 Mesones
1    Ecobici        102                  Echeveste           Simon Bolivar
2    Ecobici        103  Joaquin Velazquez de Leon      Garcia Icazbalceta
3    Ecobici        104               San Jeronimo      Isabel la Catolica
4    Ecobici        105               San Jeronimo            5 de Febrero
..       ...        ...                        ...                     ...
672  Ecobici    268-269       Luis Donaldo Colosio            Jesus Garcia
673  Ecobici    271-272               Jesus Garcia       Carlos J. Meneses
674  Ecobici    273-274       Luis Donaldo Colosio            Jesus Garcia
675  Ecobici    390-391                        Oso            Felix Cuevas
676  Ecobici    445-446                       Riff  Avenida Rio Churubusco

                       colonia       alcaldia    latitud   longitud  \
0                       Centro     Cuauhtemoc  19.428485 -99.133800
1                       Centro     Cuauhtemoc  19.428214 -99.139494
2                   San Rafael     Cuauhtemoc  19.441533 -99.165268
3                       Centro     Cuauhtemoc  19.427059 -99.137116
4                       Centro     Cuauhtemoc  19.426755 -99.135014
..                         ...            ...        ...        ...
672                 Buenavista     Cuauhtemoc  19.442467 -99.151658
673                 Buenavista     Cuauhtemoc  19.443684 -99.152465
674                 Buenavista     Cuauhtemoc  19.442707 -99.152956
675                    Actipan  Benito Juarez  19.373384 -99.178173
676  General Pedro Maria Anaya  Benito Juarez  19.358934 -99.156064

    sitio_de_e    estatus
0     Banqueta  Instalada
1     Banqueta  Instalada
2       Arroyo  Instalada
3     Banqueta  Instalada
4       Arroyo  Instalada
..         ...        ...
672     Arroyo  Instalada
673     Arroyo  Instalada
674     Arroyo  Instalada
675     Arroyo  Instalada
676     Arroyo  Instalada

[677 rows x 10 columns]

In [13]:
# Cambiar el nombre de la columna 'num_cicloestacion' a 'id'
nomenclatura.rename(columns={'num_cicloe': 'id'}, inplace=True)

# Guardar los cambios en el archivo CSV
nomenclatura.to_csv('nomenclaturas/estaciones_ecobici.csv', index=False)

In [14]:
nomenclatura.head()

,sistema,id,calle_prin,calle_secu,colonia,alcaldia,latitud,longitud,sitio_de_e,estatus
0,Ecobici,100,20 de Noviembre,Mesones,Centro,Cuauhtemoc,19.428485,-99.133800,Banqueta,Instalada
1,Ecobici,102,Echeveste,Simon Bolivar,Centro,Cuauhtemoc,19.428214,-99.139494,Banqueta,Instalada
2,Ecobici,103,Joaquin Velazquez de Leon,Garcia Icazbalceta,San Rafael,Cuauhtemoc,19.441533,-99.165268,Arroyo,Instalada
3,Ecobici,104,San Jeronimo,Isabel la Catolica,Centro,Cuauhtemoc,19.427059,-99.137116,Banqueta,Instalada
4,Ecobici,105,San Jeronimo,5 de Febrero,Centro,Cuauhtemoc,19.426755,-99.135014,Arroyo,Instalada

In [15]:
#total de estaciones
nomenclatura.shape[0]

677

In [16]:
nomenclatura['id'].unique()

array(['100', '102', '103', '104', '105', '106', '109', '110', '111',
       '112', '113', '114', '115', '116', '117', '118', '119', '120',
       '121', '122', '123', '124', '125', '126', '127', '128', '129',
       '130', '131', '132', '133', '134', '135', '136', '137', '138',
       '139', '140', '141', '142', '143', '144', '145', '146', '147',
       '148', '149', '150', '151', '152', '153', '154', '155', '156',
       '157', '160', '161', '162', '163', '164', '165', '166', '167',
       '168', '169', '170', '171', '172', '173', '174', '175', '176',
       '177', '178', '179', '180', '181', '182', '183', '184', '185',
       '186', '187', '188', '189', '190', '191', '194', '195', '196',
       '197', '198', '199', '200', '201', '202', '203', '204', '205',
       '206', '207', '208', '209', '210', '211', '212', '213', '214',
       '215', '216', '217', '218', '219', '220', '221', '222', '223',
       '224', '225', '226', '227', '228', '229', '230', '231', '232',
       '233', '234', '239', '240', '241', '242', '243', '244', '245',
       '246', '247', '248', '249', '250', '251', '252', '253', '254',
       '255', '256', '257', '258', '259', '260', '261', '262', '263',
       '265', '270', '276', '277', '278', '279', '280', '281', '282',
       '283', '284', '285', '286', '287', '288', '290', '291', '292',
       '293', '294', '295', '296', '297', '298', '299', '300', '301',
       '302', '303', '304', '305', '306', '307', '308', '309', '310',
       '312', '313', '314', '315', '316', '317', '318', '319', '320',
       '321', '322', '323', '324', '325', '326', '327', '328', '329',
       '330', '331', '332', '333', '334', '335', '336', '337', '338',
       '339', '340', '341', '342', '343', '345', '346', '347', '348',
       '349', '351', '352', '353', '354', '355', '356', '357', '358',
       '359', '360', '361', '362', '363', '365', '366', '367', '369',
       '370', '371', '372', '373', '374', '375', '377', '378', '380',
       '381', '384', '385', '386', '387', '389', '392', '393', '394',
       '395', '396', '397', '398', '399', '401', '402', '404', '405',
       '407', '409', '412', '413', '414', '415', '416', '417', '419',
       '420', '421', '422', '423', '424', '425', '427', '428', '429',
       '430', '432', '433', '434', '436', '437', '438', '439', '440',
       '441', '442', '443', '444', '447', '448', '449', '450', '451',
       '452', '453', '454', '455', '456', '457', '458', '459', '460',
       '461', '462', '463', '464', '465', '466', '467', '468', '469',
       '470', '471', '472', '473', '474', '475', '476', '477', '478',
       '479', '480', '481', '482', '483', '484', '485', '486', '487',
       '488', '489', '490', '491', '492', '493', '494', '495', '496',
       '497', '498', '499', '500', '501', '502', '503', '504', '505',
       '506', '507', '508', '509', '510', '511', '512', '513', '514',
       '515', '516', '517', '518', '519', '520', '521', '522', '523',
       '524', '525', '526', '527', '528', '529', '530', '531', '532',
       '533', '534', '535', '536', '537', '538', '539', '540', '541',
       '542', '543', '544', '545', '546', '547', '548', '549', '550',
       '551', '552', '553', '554', '555', '556', '557', '558', '559',
       '560', '561', '562', '563', '564', '565', '566', '567', '568',
       '569', '570', '571', '572', '573', '574', '575', '576', '577',
       '578', '579', '580', '581', '582', '583', '584', '585', '586',
       '587', '588', '589', '590', '591', '592', '593', '594', '595',
       '596', '597', '598', '599', '600', '601', '602', '603', '604',
       '605', '606', '607', '608', '609', '610', '611', '612', '613',
       '614', '615', '616', '617', '618', '619', '620', '621', '622',
       '623', '624', '625', '626', '627', '628', '629', '630', '631',
       '632', '633', '634', '635', '636', '637', '638', '639', '640',
       '641', '642', '643', '644', '645', '646', '647', '648', '649',
       '650', '651', '652', '653', '654', '655', '656', '657', '658',
       '659', '660', '661', '662', '663', '664', '665', '666', '667',
       '668', '669', '670', '671', '672', '673', '674', '675', '676',
       '677', '678', '679', '680', '681', '682', '683', '684', '685',
       '686', '687', '688', '689', '690', '691', '692', '693', '694',
       '695', '696', '697', '698', '699', '700', '701', '702', '703',
       '704', '705', '706', '707', '708', '709', '710', '711', '1', '2',
       '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47',
       '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58',
       '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69',
       '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80',
       '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91',
       '92', '93', '94', '95', '96', '97', '98', '99', '107-108',
       '158-159', '192-193', '235-236', '237-238', '264-275', '266-267',
       '268-269', '271-272', '273-274', '390-391', '445-446'],
      dtype=object)

In [17]:
estaciones_seguidas = nomenclatura[nomenclatura['id'].str.contains('-', na=False)]
print(estaciones_seguidas['id'].unique())

['107-108' '158-159' '192-193' '235-236' '237-238' '264-275' '266-267'
 '268-269' '271-272' '273-274' '390-391' '445-446']

In [19]:
def procesar_estacion(valor):
    # Si el valor es un n√∫mero entero, lo dejamos igual
    try:
        return int(valor)
    except ValueError:
        pass

    # Si el valor tiene el formato "%d-%d", obtenemos el primer n√∫mero
    if re.match(r'^\d+-\d+$', valor):
        return int(valor.split('-')[0])

    # Si no est√° en el diccionario, pedimos manualmente la estaci√≥n
    print(f"Valor inesperado: {valor}")
    nuevo_valor = input("Ingresa manualmente la estaci√≥n correcta: ")
    
    return int(nuevo_valor)

In [20]:
nomenclatura['id'] = nomenclatura['id'].apply(procesar_estacion)

In [21]:
nomenclatura.to_csv('nomenclaturas/estaciones_ecobici.csv', index=False)

In [26]:
nomenclatura['id'].unique()

array([100, 102, 103, 104, 105, 106, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
       142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154,
       155, 156, 157, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 194, 195, 196, 197,
       198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210,
       211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
       224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 239, 240,
       241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253,
       254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 265, 270, 276,
       277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303,
       304, 305, 306, 307, 308, 309, 310, 312, 313, 314, 315, 316, 317,
       318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330,
       331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343,
       345, 346, 347, 348, 349, 351, 352, 353, 354, 355, 356, 357, 358,
       359, 360, 361, 362, 363, 365, 366, 367, 369, 370, 371, 372, 373,
       374, 375, 377, 378, 380, 381, 384, 385, 386, 387, 389, 392, 393,
       394, 395, 396, 397, 398, 399, 401, 402, 404, 405, 407, 409, 412,
       413, 414, 415, 416, 417, 419, 420, 421, 422, 423, 424, 425, 427,
       428, 429, 430, 432, 433, 434, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457,
       458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470,
       471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483,
       484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496,
       497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509,
       510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522,
       523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535,
       536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548,
       549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561,
       562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574,
       575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587,
       588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600,
       601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613,
       614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626,
       627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639,
       640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652,
       653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665,
       666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678,
       679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691,
       692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704,
       705, 706, 707, 708, 709, 710, 711,   1,   2,   3,   4,   5,   6,
         7,   8,   9,  10,  11,  12,  13,  14,  15,  16,  17,  18,  19,
        20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,
        33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,
        46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
        59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,
        72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
        98,  99, 107, 158, 192, 235, 237, 264, 266, 268, 271, 273, 390,
       445])

Para ver lo de las estaciones faltantes

In [4]:
def leer_matriz(nombre_archivo):
    matriz = []
    with open(nombre_archivo, 'r') as archivo:
        archivo.readline()
        archivo.readline()
        for linea in archivo:
            fila = [float(valor) for valor in linea.strip().split()]
            matriz.append(fila)
    return np.array(matriz)

In [2]:
n_nueva = pd.read_csv('nomenclaturas/estaciones_ecobici.csv')
n_nueva.head()

,sistema,id,calle_prin,calle_secu,colonia,alcaldia,latitud,longitud,sitio_de_e,estatus
0,Ecobici,100,20 de Noviembre,Mesones,Centro,Cuauhtemoc,19.428485,-99.133800,Banqueta,Instalada
1,Ecobici,102,Echeveste,Simon Bolivar,Centro,Cuauhtemoc,19.428214,-99.139494,Banqueta,Instalada
2,Ecobici,103,Joaquin Velazquez de Leon,Garcia Icazbalceta,San Rafael,Cuauhtemoc,19.441533,-99.165268,Arroyo,Instalada
3,Ecobici,104,San Jeronimo,Isabel la Catolica,Centro,Cuauhtemoc,19.427059,-99.137116,Banqueta,Instalada
4,Ecobici,105,San Jeronimo,5 de Febrero,Centro,Cuauhtemoc,19.426755,-99.135014,Arroyo,Instalada

In [3]:
n_vieja = pd.read_csv('nomenclaturas/estaciones_ecobici_viejo.csv')
n_vieja.head()

,sistema,num_cicloestacion,nombre,calle_principal,calle_secundaria,colonia,alcaldia,latitud,longitud,tipo_ce,candados
0,ECOBICI,1,R√≠o Sena - R√≠o Balsas,R√≠o Sena,R√≠o Balsas,Cuauht√©moc,CUAUHTEMOC,19.433590,-99.167819,4G,27
1,ECOBICI,2,R√≠o Guadalquivir - R√≠o Nazas,R√≠o Guadalquivir,R√≠o Nazas,Cuauht√©moc,CUAUHTEMOC,19.430510,-99.171201,3G,21
2,ECOBICI,3,Reforma - Insurgentes,Reforma,Insurgentes,Tabacalera,CUAUHTEMOC,19.431630,-99.158547,4G,36
3,ECOBICI,4,R√≠o Nilo - R√≠o P√°nuco,R√≠o Nilo,R√≠o P√°nuco,Cuauht√©moc,CUAUHTEMOC,19.428491,-99.171693,3G,15
4,ECOBICI,5,R√≠o P√°nuco - R√≠o T√≠ber,R√≠o P√°nuco,R√≠o T√≠ber,Cuauht√©moc,CUAUHTEMOC,19.429804,-99.169451,3G,12

In [6]:
print(np.sort(n_nueva['id'].unique()))

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 102 103 104 105 106 107 109 110
 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128
 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 156 157 158 160 161 162 163 164 165
 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183
 184 185 186 187 188 189 190 191 192 194 195 196 197 198 199 200 201 202
 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220
 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 237 239 240
 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258
 259 260 261 262 263 264 265 266 268 270 271 273 276 277 278 279 280 281
 282 283 284 285 286 287 288 290 291 292 293 294 295 296 297 298 299 300
 301 302 303 304 305 306 307 308 309 310 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 345 346 347 348 349 351 352 353 354 355 356 357
 358 359 360 361 362 363 365 366 367 369 370 371 372 373 374 375 377 378
 380 381 384 385 386 387 389 390 392 393 394 395 396 397 398 399 401 402
 404 405 407 409 412 413 414 415 416 417 419 420 421 422 423 424 425 427
 428 429 430 432 433 434 436 437 438 439 440 441 442 443 444 445 447 448
 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466
 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484
 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502
 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520
 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538
 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556
 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574
 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592
 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610
 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628
 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646
 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664
 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682
 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700
 701 702 703 704 705 706 707 708 709 710 711]

In [18]:
est_nueva = np.sort(n_nueva['id'].unique())
print(est_nueva)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 102 103 104 105 106 107 109 110
 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128
 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 156 157 158 160 161 162 163 164 165
 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183
 184 185 186 187 188 189 190 191 192 194 195 196 197 198 199 200 201 202
 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220
 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 237 239 240
 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258
 259 260 261 262 263 264 265 266 268 270 271 273 276 277 278 279 280 281
 282 283 284 285 286 287 288 290 291 292 293 294 295 296 297 298 299 300
 301 302 303 304 305 306 307 308 309 310 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 345 346 347 348 349 351 352 353 354 355 356 357
 358 359 360 361 362 363 365 366 367 369 370 371 372 373 374 375 377 378
 380 381 384 385 386 387 389 390 392 393 394 395 396 397 398 399 401 402
 404 405 407 409 412 413 414 415 416 417 419 420 421 422 423 424 425 427
 428 429 430 432 433 434 436 437 438 439 440 441 442 443 444 445 447 448
 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466
 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484
 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502
 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520
 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538
 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556
 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574
 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592
 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610
 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628
 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646
 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664
 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682
 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700
 701 702 703 704 705 706 707 708 709 710 711]

In [7]:
print(np.sort(n_vieja['num_cicloestacion'].unique()))

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 372 373 374 375 376 377 378 379
 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397
 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415
 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433
 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451
 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469
 470 471 472 473 474 475 476 477 478 479 480]

In [19]:
est_vieja = np.sort(n_vieja['num_cicloestacion'].unique())
print(est_vieja)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 372 373 374 375 376 377 378 379
 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397
 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415
 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433
 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451
 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469
 470 471 472 473 474 475 476 477 478 479 480]

In [10]:
est_2019 = leer_matriz('Adj_eco/matrices_estaciones/estaciones_2019.txt')
est_2019 = est_2019[:,0].astype(int)
est_2019

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480, 1000, 1001, 1002, 3000,
       3001, 3002])

In [11]:
est_2020 = leer_matriz('Adj_eco/matrices_estaciones/estaciones_2020.txt')
est_2020 = est_2020[:,0].astype(int)
est_2020

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   56,
         57,   58,   59,   60,   61,   62,   63,   64,   65,   66,   67,
         68,   69,   70,   71,   72,   73,   74,   75,   76,   77,   78,
         79,   80,   81,   82,   83,   84,   85,   86,   87,   88,   89,
         90,   91,   92,   93,   94,   95,   96,   97,   98,   99,  100,
        102,  103,  104,  105,  106,  107,  108,  109,  110,  111,  112,
        113,  114,  115,  116,  117,  118,  119,  120,  121,  122,  123,
        124,  125,  126,  127,  128,  129,  130,  131,  132,  133,  134,
        135,  136,  137,  138,  139,  140,  141,  142,  143,  144,  145,
        146,  147,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        157,  158,  159,  160,  161,  162,  163,  164,  165,  166,  167,
        168,  169,  170,  171,  172,  173,  174,  175,  176,  177,  178,
        179,  180,  181,  182,  183,  184,  185,  186,  187,  188,  189,
        190,  191,  192,  193,  194,  195,  196,  197,  198,  199,  200,
        201,  202,  203,  204,  205,  206,  207,  208,  209,  210,  211,
        212,  213,  214,  215,  216,  217,  218,  219,  220,  221,  222,
        223,  224,  225,  226,  227,  228,  229,  230,  231,  232,  233,
        234,  235,  236,  237,  238,  239,  240,  241,  242,  243,  244,
        245,  246,  247,  248,  249,  250,  251,  252,  253,  254,  255,
        256,  257,  258,  259,  260,  261,  262,  263,  264,  265,  266,
        267,  268,  269,  270,  271,  272,  273,  274,  275,  276,  277,
        278,  279,  280,  281,  282,  283,  284,  285,  286,  287,  288,
        289,  290,  291,  292,  293,  294,  295,  296,  297,  298,  299,
        300,  301,  302,  303,  304,  305,  306,  307,  308,  309,  310,
        311,  312,  313,  314,  315,  316,  317,  318,  319,  320,  321,
        322,  323,  324,  325,  326,  327,  328,  329,  330,  331,  332,
        333,  334,  335,  336,  337,  338,  339,  340,  341,  342,  343,
        344,  345,  346,  347,  348,  349,  350,  351,  352,  353,  354,
        355,  356,  357,  358,  359,  360,  361,  362,  363,  364,  365,
        366,  367,  368,  369,  370,  371,  372,  373,  374,  375,  376,
        377,  378,  379,  380,  381,  382,  383,  384,  385,  386,  387,
        388,  389,  390,  391,  392,  393,  394,  395,  396,  397,  398,
        399,  400,  401,  402,  403,  404,  405,  406,  407,  408,  409,
        410,  411,  412,  413,  414,  415,  416,  417,  418,  419,  420,
        421,  422,  423,  424,  425,  426,  427,  428,  429,  430,  431,
        432,  433,  434,  435,  436,  437,  438,  439,  440,  441,  442,
        443,  444,  445,  446,  447,  448,  449,  450,  451,  452,  453,
        454,  455,  456,  457,  458,  459,  460,  461,  462,  463,  464,
        465,  466,  467,  468,  469,  470,  471,  472,  473,  474,  475,
        476,  477,  478,  479,  480, 3000, 3001, 3002])

In [12]:
est_2021 = leer_matriz('Adj_eco/matrices_estaciones/estaciones_2021.txt')
est_2021 = est_2021[:,0].astype(int)
est_2021

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118,
       119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
       132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144,
       145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
       158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170,
       171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183,
       184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196,
       197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
       210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222,
       223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235,
       236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248,
       249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261,
       262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274,
       275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287,
       288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300,
       301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313,
       314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326,
       327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339,
       340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352,
       353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365,
       366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378,
       379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
       392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404,
       405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417,
       418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430,
       431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443,
       444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456,
       457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469,
       470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480])

In [13]:
est_2022 = leer_matriz('Adj_eco/matrices_estaciones/estaciones_2022.txt')
est_2022 = est_2022[:,0].astype(int)
est_2022

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  102,  103,  104,  105,  106,  107,  108,  109,  110,  111,
        112,  113,  114,  115,  116,  117,  118,  119,  120,  121,  122,
        123,  124,  125,  126,  127,  128,  129,  130,  131,  132,  133,
        134,  135,  136,  137,  138,  139,  140,  141,  142,  143,  144,
        145,  146,  147,  148,  149,  150,  151,  152,  153,  154,  155,
        156,  157,  158,  159,  160,  161,  162,  163,  164,  165,  166,
        167,  168,  169,  170,  171,  172,  173,  174,  175,  176,  177,
        178,  179,  180,  181,  182,  183,  184,  185,  186,  187,  188,
        189,  190,  191,  192,  194,  195,  196,  197,  198,  199,  200,
        201,  202,  203,  204,  205,  206,  207,  208,  209,  210,  211,
        212,  213,  214,  215,  216,  217,  218,  219,  220,  221,  222,
        223,  224,  225,  226,  227,  228,  229,  230,  231,  232,  233,
        234,  235,  236,  237,  238,  239,  240,  241,  242,  243,  244,
        245,  246,  247,  248,  249,  250,  251,  252,  253,  254,  255,
        256,  257,  258,  259,  260,  261,  262,  263,  264,  265,  266,
        267,  268,  269,  270,  271,  272,  273,  274,  275,  276,  277,
        278,  279,  280,  281,  282,  283,  284,  285,  286,  287,  288,
        289,  290,  291,  292,  293,  294,  295,  296,  297,  298,  299,
        300,  301,  302,  303,  304,  305,  306,  307,  308,  309,  310,
        311,  312,  313,  314,  315,  316,  317,  318,  319,  320,  321,
        322,  323,  324,  325,  326,  327,  328,  329,  330,  331,  332,
        333,  334,  335,  336,  337,  338,  339,  340,  341,  342,  343,
        344,  345,  346,  347,  348,  349,  350,  351,  352,  353,  354,
        355,  356,  357,  358,  359,  360,  361,  362,  363,  364,  365,
        366,  367,  368,  369,  370,  371,  372,  373,  374,  375,  376,
        377,  378,  379,  380,  381,  382,  383,  384,  385,  386,  387,
        388,  389,  390,  391,  392,  393,  394,  395,  396,  397,  398,
        399,  400,  401,  402,  403,  404,  405,  406,  407,  408,  409,
        410,  411,  412,  413,  414,  415,  416,  417,  418,  419,  420,
        421,  422,  423,  424,  425,  426,  427,  428,  429,  430,  431,
        432,  433,  434,  435,  436,  437,  438,  439,  441,  442,  443,
        444,  445,  446,  447,  448,  449,  450,  451,  452,  453,  454,
        455,  456,  457,  458,  459,  460,  461,  462,  463,  464,  465,
        466,  467,  468,  469,  470,  471,  472,  473,  474,  475,  476,
        477,  478,  479,  480,  555, 1000, 1002])

In [14]:
est_2023 = leer_matriz('Adj_eco/matrices_estaciones/estaciones_2023.txt')
est_2023 = est_2023[:,0].astype(int)
est_2023

array([      1,       2,       3,       4,       5,       6,       7,
             8,       9,      10,      11,      12,      13,      14,
            15,      16,      17,      18,      19,      20,      21,
            22,      23,      24,      25,      26,      27,      28,
            29,      30,      31,      32,      33,      34,      35,
            36,      37,      38,      39,      40,      41,      42,
            43,      44,      45,      46,      47,      48,      49,
            50,      51,      52,      53,      54,      55,      56,
            57,      58,      59,      60,      61,      62,      63,
            64,      65,      66,      67,      68,      69,      70,
            71,      72,      73,      74,      75,      76,      77,
            78,      79,      80,      81,      82,      83,      84,
            85,      86,      87,      88,      89,      90,      91,
            92,      93,      94,      95,      96,      97,      98,
            99,     100,     102,     103,     104,     105,     106,
           107,     109,     110,     111,     112,     113,     114,
           115,     116,     117,     118,     119,     120,     121,
           122,     123,     124,     125,     126,     127,     128,
           129,     130,     131,     132,     133,     134,     135,
           136,     137,     138,     139,     140,     141,     142,
           143,     144,     145,     146,     147,     148,     149,
           150,     151,     152,     153,     154,     155,     156,
           157,     158,     160,     161,     162,     163,     164,
           165,     166,     167,     168,     169,     170,     171,
           172,     173,     174,     175,     176,     177,     178,
           179,     180,     181,     182,     183,     184,     185,
           186,     187,     188,     189,     190,     191,     192,
           194,     195,     196,     198,     199,     200,     201,
           202,     203,     204,     205,     206,     207,     208,
           209,     210,     211,     212,     213,     214,     215,
           216,     217,     218,     219,     220,     221,     222,
           223,     224,     225,     226,     227,     228,     229,
           230,     231,     232,     233,     234,     235,     237,
           239,     240,     241,     242,     243,     244,     245,
           246,     247,     248,     249,     250,     251,     252,
           253,     254,     255,     256,     257,     258,     259,
           260,     261,     262,     263,     264,     265,     266,
           268,     270,     271,     273,     276,     277,     278,
           279,     280,     281,     282,     283,     284,     285,
           286,     287,     288,     290,     291,     292,     293,
           294,     295,     296,     297,     298,     299,     300,
           301,     302,     303,     304,     305,     306,     307,
           308,     309,     310,     312,     313,     314,     315,
           316,     317,     318,     319,     320,     321,     322,
           323,     324,     325,     326,     327,     328,     329,
           330,     331,     332,     333,     334,     335,     336,
           337,     338,     339,     340,     341,     342,     343,
           345,     346,     347,     348,     349,     351,     352,
           353,     354,     355,     356,     357,     358,     359,
           360,     361,     362,     363,     365,     366,     367,
           369,     370,     371,     372,     373,     374,     375,
           377,     378,     380,     381,     384,     385,     386,
           387,     389,     390,     392,     393,     394,     395,
           396,     397,     398,     399,     401,     402,     404,
           405,     407,     409,     412,     413,     414,     415,
           416,     417,     419,     420,     421,     422,     423,
           424,     425,     427,     428,     429,     430,     432,
           433,     434,     436,     437,     438,     439,     441,
           442,     443,     444,     445,     447,     448,     449,
           450,     451,     452,     453,     454,     455,     456,
           457,     458,     459,     460,     461,     462,     463,
           464,     465,     466,     467,     468,     469,     470,
           471,     472,     473,     474,     475,     476,     477,
           478,     479,     480,     481,     482,     483,     484,
           485,     486,     487,     490,     491,     492,     493,
           494,     495,     496,     497,     498,     499,     500,
           501,     502,     503,     504,     505,     506,     507,
           510,     512,     514,     516,     517,     518,     519,
           521,     525,     527,     531,     536,     537,     538,
           539,     540,     541,     542,     543,     544,     545,
           546,     548,     549,     550,     551,     552,     553,
           554,     555,     556,     557,     559,     560,     561,
           562,     563,     564,     567,     568,     569,     570,
           571,     572,     573,     575,     577,     578,     579,
           580,     583,     584,     585,     589,     590,     591,
           592,     593,     594,     595,     596,     597,     598,
           599,     600,     601,     602,     603,     604,     605,
           607,     608,     609,     610,     611,     612,     613,
           615,     617,     618,     619,     620,     621,     622,
           623,     624,     626,     627,     628,     629,     630,
           631,     633,     634,     635,     636,     637,     638,
           639,     640,     641,     642,     643,     644,     645,
           646,     647,     648,     649,     650,     651,     652,
           653,     654,     655,     656,     657,     658,     659,
           660,     661,     662,     663,     664,     665,     666,
           667,     668,     669,     670,     671,     672,     673,
           674,     678,     679,     684,     685,     686,     687,
           688,     689,     690,     691,     692,     693,     694,
           695,     696,     697,     698,     699,     700,     701,
           702,     703,     704,     705,     706,     707,     708,
           709,    1000, 4422222])

In [15]:
est_2024 = leer_matriz('Adj_eco/matrices_estaciones/estaciones_2024.txt')
est_2024 = est_2024[:,0].astype(int)
est_2024

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  102,  103,  104,  105,  106,  107,  109,  110,  111,  112,
        113,  114,  115,  116,  117,  118,  119,  120,  121,  122,  123,
        124,  125,  126,  127,  128,  129,  130,  131,  132,  133,  134,
        135,  136,  137,  138,  139,  140,  141,  142,  143,  144,  145,
        146,  147,  148,  149,  150,  151,  152,  153,  154,  155,  156,
        157,  158,  160,  161,  162,  163,  164,  165,  166,  167,  168,
        169,  170,  171,  172,  173,  174,  175,  176,  177,  178,  179,
        180,  181,  182,  183,  184,  185,  186,  187,  188,  189,  190,
        191,  192,  194,  195,  196,  197,  198,  199,  200,  201,  202,
        203,  204,  205,  206,  207,  208,  209,  210,  211,  212,  213,
        214,  215,  216,  217,  218,  219,  220,  221,  222,  223,  224,
        225,  226,  227,  228,  229,  230,  231,  232,  233,  234,  235,
        237,  239,  240,  241,  242,  243,  244,  245,  246,  247,  248,
        249,  250,  251,  252,  253,  254,  255,  256,  257,  258,  259,
        260,  261,  262,  263,  264,  265,  266,  268,  270,  271,  273,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  290,  291,  292,  293,  294,  295,  296,  297,  298,
        299,  300,  301,  302,  303,  304,  305,  306,  307,  308,  309,
        310,  312,  313,  314,  315,  316,  317,  318,  319,  320,  321,
        322,  323,  324,  325,  326,  327,  328,  329,  330,  331,  332,
        333,  334,  335,  336,  337,  338,  339,  340,  341,  342,  343,
        345,  346,  347,  348,  349,  351,  352,  353,  354,  355,  356,
        357,  358,  359,  360,  361,  362,  363,  365,  366,  367,  369,
        370,  371,  372,  373,  374,  375,  377,  378,  380,  381,  384,
        385,  386,  387,  389,  390,  392,  393,  394,  395,  396,  397,
        398,  399,  401,  402,  404,  405,  407,  409,  412,  413,  414,
        415,  416,  417,  419,  420,  421,  422,  423,  424,  425,  427,
        428,  429,  430,  432,  433,  434,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  447,  448,  449,  450,  451,  452,
        453,  454,  455,  456,  457,  458,  459,  460,  461,  462,  463,
        464,  465,  466,  467,  468,  469,  470,  471,  472,  473,  474,
        475,  476,  477,  478,  479,  480,  481,  482,  483,  484,  485,
        486,  487,  488,  489,  490,  491,  492,  493,  494,  495,  496,
        497,  498,  499,  500,  501,  502,  503,  504,  505,  506,  507,
        508,  509,  510,  511,  512,  513,  514,  515,  516,  517,  518,
        519,  520,  521,  522,  523,  525,  526,  527,  528,  529,  530,
        531,  532,  533,  534,  535,  536,  537,  538,  539,  540,  541,
        542,  543,  544,  545,  546,  547,  548,  549,  550,  551,  552,
        553,  554,  555,  556,  557,  558,  559,  560,  561,  562,  563,
        564,  565,  566,  567,  568,  569,  570,  571,  572,  573,  574,
        575,  576,  577,  578,  579,  580,  581,  582,  583,  584,  585,
        586,  587,  588,  589,  590,  591,  592,  593,  594,  595,  596,
        597,  598,  599,  600,  601,  602,  603,  604,  605,  606,  607,
        608,  609,  610,  611,  612,  613,  614,  615,  616,  617,  618,
        619,  620,  621,  622,  623,  624,  625,  626,  627,  628,  629,
        630,  631,  632,  633,  634,  635,  636,  637,  638,  639,  640,
        641,  642,  643,  644,  645,  646,  647,  648,  649,  650,  651,
        652,  653,  654,  655,  656,  657,  658,  659,  660,  661,  662,
        663,  664,  665,  666,  667,  668,  669,  670,  671,  672,  673,
        674,  675,  676,  677,  678,  679,  680,  681,  682,  683,  684,
        685,  686,  687,  688,  689,  690,  691,  692,  693,  694,  695,
        696,  697,  698,  699,  700,  701,  702,  703,  704,  705,  706,
        707,  708,  709,  710,  711, 1000, 1002])

In [20]:
# estaciones viejas que no est√°n en las nuevas
estaciones_viejas_no_nuevas = np.setdiff1d(est_vieja, est_nueva)
print(estaciones_viejas_no_nuevas)

[101 108 159 193 236 238 267 269 272 274 275 289 311 344 350 364 368 376
 379 382 383 388 391 400 403 406 408 410 411 418 426 431 435 446]

In [22]:
# Crear una lista para almacenar los nuevos datos
nuevos_datos = []

for estacion in estaciones_viejas_no_nuevas:
    current_station = n_vieja[n_vieja['num_cicloestacion'] == estacion]
    
    # Verificar que current_station no est√© vac√≠o
    if not current_station.empty:
        nuevos_datos.append({
            'sistema': 'ECOBICI',
            'id': estacion,
            'calle_prin': current_station['calle_principal'].values[0],
            'calle_secu': current_station['calle_secundaria'].values[0],
            'colonia': current_station['colonia'].values[0],
            'alcaldia': current_station['alcaldia'].values[0],
            'latitud': current_station['latitud'].values[0],
            'longitud': current_station['longitud'].values[0],
            'sitio_de_e': 'antigua',
            'estatus': 'antigua'
        })

# Crear un DataFrame con los nuevos datos y concatenarlo con n_nueva
n_nueva = pd.concat([n_nueva, pd.DataFrame(nuevos_datos)], ignore_index=True)

In [23]:
n_nueva.to_csv('nomenclaturas/estaciones_ecobici.csv', index=False)

In [25]:
est_nueva = np.sort(n_nueva['id'].unique())
estaciones_viejas_no_nuevas2 = np.setdiff1d(est_vieja, est_nueva)
print(estaciones_viejas_no_nuevas2)

[]

In [27]:
# estaciones faltantes en 2019
missing_2019 = np.setdiff1d(est_2019, est_nueva)
print(missing_2019)

[1000 1001 1002 3000 3001 3002]

In [28]:
missing_2020 = np.setdiff1d(est_2020, est_nueva)
print(missing_2020)

[3000 3001 3002]

In [29]:
missing_2021 = np.setdiff1d(est_2021, est_nueva)
print(missing_2021)

[]

In [30]:
missing_2022 = np.setdiff1d(est_2022, est_nueva)
print(missing_2022)

[1000 1002]

In [37]:
missing_2023 = np.setdiff1d(est_2023, est_nueva)
print(missing_2023)

[   1000 4422222]

In [38]:
missing_2024 = np.setdiff1d(est_2024, est_nueva)
print(missing_2024)

[1000 1002]

In [39]:
estaciones_faltantes = np.unique(np.concatenate([missing_2019, missing_2020, missing_2021, missing_2022, missing_2023, missing_2024]))
print(estaciones_faltantes)

[   1000    1001    1002    3000    3001    3002 4422222]

Hay que tomar una descisi√≥n sobre esas estaciones...

In [41]:
data_2019 = pd.read_csv('ecobici/2019.csv', encoding='latin1', low_memory=False)
data_2019.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Tiempo_viaje
0,M,36,11444,67,01/01/2019,0:08:44,36,01/01/2019,0:14:03,5.316667
1,M,36,9196,55,01/01/2019,0:12:05,136,01/01/2019,0:42:11,30.100000
2,M,38,2612,29,01/01/2019,0:13:15,115,01/01/2019,0:37:47,24.533333
3,M,43,7463,29,01/01/2019,0:13:36,115,01/01/2019,0:38:04,24.466667
4,M,37,3987,136,01/01/2019,0:15:30,35,01/01/2019,0:22:47,7.283333

In [43]:
np.sum(data_2019['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2019['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

173

In [44]:
data_2019.drop(data_2019[data_2019['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2019['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes)].index, inplace=True)

In [45]:
np.sum(data_2019['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2019['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

0

In [46]:
data_2019.to_csv('ecobici/2019.csv', index=False)
del data_2019

In [47]:
data_2020 = pd.read_csv('ecobici/2020.csv', encoding='latin1', low_memory=False)
data_2020.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,BikeID,Tiempo_viaje
0,F,33.0,8744,52.0,01/01/2020,0:05:06,3,01/01/2020,0:13:00,NaN,7.900000
1,M,30.0,7865,31.0,01/01/2020,0:09:50,271,01/01/2020,0:21:30,NaN,11.666667
2,F,36.0,7819,251.0,01/01/2020,0:13:25,150,01/01/2020,0:26:10,NaN,12.750000
3,F,33.0,11258,3.0,01/01/2020,0:15:22,1,01/01/2020,0:25:29,NaN,10.116667
4,M,29.0,7722,136.0,01/01/2020,0:18:42,63,01/01/2020,0:24:01,NaN,5.316667

In [48]:
np.sum(data_2020['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2020['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

35

In [49]:
data_2020.drop(data_2020[data_2020['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2020['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes)].index, inplace=True)

In [50]:
np.sum(data_2020['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2020['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

0

In [51]:
data_2020.to_csv('ecobici/2020.csv', index=False)
del data_2020

In [52]:
data_2021 = pd.read_csv('ecobici/2021.csv', encoding='latin1', low_memory=False)
data_2021.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Tiempo_viaje
0,M,32.0,7608.0,18,01/01/2021,07:05:04,143,01/01/2021,07:13:25,8.350000
1,M,24.0,8324.0,76,01/01/2021,09:03:35,76,01/01/2021,09:08:08,4.550000
2,F,35.0,6787.0,281,01/01/2021,09:22:41,61,01/01/2021,09:50:03,27.366667
3,F,34.0,11875.0,405,01/01/2021,10:21:21,431,01/01/2021,10:27:16,5.916667
4,M,26.0,8164.0,30,01/01/2021,11:52:38,126,01/01/2021,12:07:30,14.866667

In [54]:
np.sum(data_2021['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) & data_2021['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

0

In [55]:
del data_2021

In [56]:
data_2022 = pd.read_csv('ecobici/2022.csv', encoding='latin1', low_memory=False)
data_2022.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Genero_usuario,Edad_usuario,Tiempo_viaje
0,M,40.0,8811.0,282,04/01/2022,07:49:31,295,04/01/2022,07:52:28,NaN,NaN,2.950000
1,M,40.0,8752.0,282,06/01/2022,07:45:59,295,06/01/2022,07:48:55,NaN,NaN,2.933333
2,M,40.0,12028.0,282,11/01/2022,07:51:56,295,11/01/2022,07:54:29,NaN,NaN,2.550000
3,M,40.0,7102.0,282,12/01/2022,07:43:56,295,12/01/2022,07:46:54,NaN,NaN,2.966667
4,M,40.0,4261.0,282,13/01/2022,07:43:09,281,13/01/2022,07:47:27,NaN,NaN,4.300000

In [57]:
np.sum(data_2022['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) & data_2022['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

13

In [58]:
data_2022.drop(data_2022[data_2022['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2022['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes)].index, inplace=True)

In [59]:
np.sum(data_2022['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) & data_2022['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

0

In [60]:
data_2022.to_csv('ecobici/2022.csv', index=False)
del data_2022

In [64]:
data_2023 = pd.read_csv('ecobici/2023.csv', encoding='latin1', low_memory=False)
data_2023.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Fecha_Hora_Retiro
0,M,45.0,3297082,150,31/12/2022,23:58:00,40,01/01/2023,00:06:24,2022-12-31 23:58:00
1,F,27.0,8922254,214,31/12/2022,23:36:34,25,01/01/2023,00:07:08,2022-12-31 23:36:34
2,M,34.0,2320075,214,31/12/2022,23:36:33,25,01/01/2023,00:07:12,2022-12-31 23:36:33
3,M,58.0,2096493,137,31/12/2022,23:57:19,36,01/01/2023,00:07:48,2022-12-31 23:57:19
4,M,23.0,6294433,260,31/12/2022,23:57:42,43,01/01/2023,00:09:33,2022-12-31 23:57:42

In [65]:
np.sum(data_2023['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2023['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

1222

In [66]:
data_2023.drop(data_2023[data_2023['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2023['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes)].index, inplace=True)

In [67]:
np.sum(data_2023['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) & data_2023['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

0

In [68]:
data_2023.to_csv('ecobici/2023.csv', index=False)
del data_2023

In [69]:
data_2024 = pd.read_csv('ecobici/2024.csv', encoding='latin1', low_memory=False)
data_2024.head()

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Tiempo_viaje
0,M,48.0,3371879,113,31/12/2023,23:21:52,659,01/01/2024,00:00:02,38.166667
1,F,26.0,7033434,281,31/12/2023,23:46:02,47,01/01/2024,00:00:02,14.000000
2,F,37.0,7169857,15,31/12/2023,23:51:57,217,01/01/2024,00:00:49,8.866667
3,F,30.0,6368211,555,31/12/2023,23:53:10,8,01/01/2024,00:02:39,9.483333
4,M,30.0,5136924,555,31/12/2023,23:52:53,8,01/01/2024,00:02:45,9.866667

In [70]:
np.sum(data_2024['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2024['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

17

In [71]:
data_2024.drop(data_2024[data_2024['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) | data_2024['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes)].index, inplace=True)

In [72]:
np.sum(data_2024['Ciclo_Estacion_Retiro'].isin(estaciones_faltantes) & data_2024['Ciclo_Estacion_Arribo'].isin(estaciones_faltantes))

0

In [73]:
data_2024.to_csv('ecobici/2024.csv', index=False)
del data_2024