In [1]:
import pandas as pd
import numpy as np

In [69]:
n_22 = pd.read_csv('nomenclaturas/nomenclatura_2022_11.csv', encoding='latin1')
n_22.head()

,id,name,obcn,location,latitude,longitude,status
0,2,(GDL-001) C. Epigmenio Glez./ Av. 16 de Sept.,GDL-001,POLÍGONO CENTRAL,20.666378,-103.348820,IN_SERVICE
1,3,(GDL-002) C. Colonias / Av. Niños héroes,GDL-002,POLÍGONO CENTRAL,20.667228,-103.366000,IN_SERVICE
2,4,(GDL-003) C. Vidrio / Av. Chapultepec,GDL-003,POLÍGONO CENTRAL,20.667690,-103.368252,IN_SERVICE
3,5,(GDL-004) C. Ghilardi /C. Miraflores,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE
4,6,(GDL-005) C. San Diego /Calzada Independencia,GDL-005,POLÍGONO CENTRAL,20.681151,-103.338863,IN_SERVICE

In [70]:
n_23_1 = pd.read_csv('nomenclaturas/nomenclatura_2023_02.csv', encoding='latin1')
n_23_1.head()

,id,name,obcn,location,latitude,longitude,status
0,2,(GDL-001) C. Epigmenio Glez./ Av. 16 de Sept.,GDL-001,POLÍGONO CENTRAL,20.666378,-103.348820,IN_SERVICE
1,3,(GDL-002) C. Colonias / Av. Niños héroes,GDL-002,POLÍGONO CENTRAL,20.667228,-103.366000,IN_SERVICE
2,4,(GDL-003) C. Vidrio / Av. Chapultepec,GDL-003,POLÍGONO CENTRAL,20.667690,-103.368252,IN_SERVICE
3,5,(GDL-004) C. Ghilardi /C. Miraflores,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE
4,6,(GDL-005) C. San Diego /Calzada Independencia,GDL-005,POLÍGONO CENTRAL,20.681151,-103.338863,IN_SERVICE

In [71]:
n_23_2 = pd.read_csv('nomenclaturas/nomenclatura_2023_10.csv', encoding='latin1')
n_23_2.head()

,id,name,obcn,location,latitude,longitude,status
0,2,(GDL-001) C. Epigmenio Glez./ Av. 16 de Sept.,GDL-001,POLÍGONO CENTRAL,20.666378,-103.348820,IN_SERVICE
1,3,(GDL-002) C. Colonias / Av. Niños héroes,GDL-002,POLÍGONO CENTRAL,20.667228,-103.366000,IN_SERVICE
2,4,(GDL-003) C. Vidrio / Av. Chapultepec,GDL-003,POLÍGONO CENTRAL,20.667690,-103.368252,IN_SERVICE
3,5,(GDL-004) C. Ghilardi /C. Miraflores,GDL-004,POLÍGONO CENTRAL,20.691750,-103.362550,IN_SERVICE
4,6,(GDL-005) C. San Diego /Calzada Independencia,GDL-005,POLÍGONO CENTRAL,20.681158,-103.339363,IN_SERVICE

In [72]:
n_24 = pd.read_csv('nomenclaturas/nomenclatura_2024_07.csv', encoding='latin1')
n_24.head()

,id,name,obcn,location,latitude,longitude,status
0,2,(GDL-001) C. Epigmenio Glez./ Av. 16 de Sept.,GDL-001,POLÍGONO CENTRAL,20.666378,-103.348820,IN_SERVICE
1,3,(GDL-002) C. Colonias / Av. Niños héroes,GDL-002,POLÍGONO CENTRAL,20.667228,-103.366000,IN_SERVICE
2,4,(GDL-003) C. Vidrio / Av. Chapultepec,GDL-003,POLÍGONO CENTRAL,20.667690,-103.368252,IN_SERVICE
3,5,(GDL-004) C. Ghilardi /C. Miraflores,GDL-004,POLÍGONO CENTRAL,20.691847,-103.362549,IN_SERVICE
4,6,(GDL-005) C. San Diego /Calzada Independencia,GDL-005,POLÍGONO CENTRAL,20.681158,-103.339363,IN_SERVICE

In [73]:
estaciones_unicas = []
estaciones_unicas.append(n_22['id'].unique())
estaciones_unicas.append(n_23_1['id'].unique())
estaciones_unicas.append(n_23_2['id'].unique())
estaciones_unicas.append(n_24['id'].unique())

In [74]:
for i in range(len(estaciones_unicas)-1):
    if len(estaciones_unicas[i]) == len(estaciones_unicas[i+1]):
        print(len(estaciones_unicas[i]), len(estaciones_unicas[i+1]))
        print("Indices donde las estaciones son distintas: ", np.where(estaciones_unicas[i] != estaciones_unicas[i+1]), i)
    else:
        print(len(estaciones_unicas[i]), len(estaciones_unicas[i+1]))
        print("Las estaciones no son iguales", i)

312 312
Indices donde las estaciones son distintas:  (array([], dtype=int64),) 0
312 337
Las estaciones no son iguales 1
337 374
Las estaciones no son iguales 2

In [75]:
print("Estaciones 2022")
print(np.sort(estaciones_unicas[0]))
print("Estaciones 2023_1")
print(np.sort(estaciones_unicas[1]))
print("Estaciones 2023_2")
print(np.sort(estaciones_unicas[2]))
print("Estaciones 2024")
print(np.sort(estaciones_unicas[3]))

Estaciones 2022
[  2   3   4   5   6   8   9  10  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  91  92  93  94
  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112
 113 114 115 116 117 118 119 120 125 126 127 128 129 130 131 132 133 134
 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152
 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242
 243 244 246 247 248 249 250 251 253 254 255 256 257 258 259 260 261 262
 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280
 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327]
Estaciones 2023_1
[  2   3   4   5   6   8   9  10  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  91  92  93  94
  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112
 113 114 115 116 117 118 119 120 125 126 127 128 129 130 131 132 133 134
 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152
 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242
 243 244 246 247 248 249 250 251 253 254 255 256 257 258 259 260 261 262
 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280
 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327]
Estaciones 2023_2
[  2   3   4   5   6   8   9  10  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  91  92  93  94
  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112
 113 114 115 116 117 118 119 120 125 126 127 128 129 130 131 132 133 134
 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152
 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242
 243 244 246 247 248 249 250 251 253 254 255 256 257 258 259 260 261 262
 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280
 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 344 345 346 347 348 349 350 351 352]
Estaciones 2024
[  2   3   4   5   6   8   9  10  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  91  92  93  94
  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112
 113 114 115 116 117 118 119 120 125 126 127 128 129 130 131 132 133 134
 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152
 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242
 243 244 246 247 248 249 250 251 253 254 255 256 257 258 259 260 261 262
 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280
 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357
 358 359 360 361 362 363 364 365 366 368 369 370 371 372 373 374 375 376
 377 378 379 380 381 382 383 384 385 386 387 388 389 390]

In [76]:
n = len(estaciones_unicas[-1])

for i in range(n):
    try:
        a = estaciones_unicas[0][i]
    except:
        a = None
    try:
        b = estaciones_unicas[1][i]
    except:
        b = None
    try:
        c = estaciones_unicas[2][i]
    except:
        c = None
    try:
        d = estaciones_unicas[3][i]
    except:
        d = None
    print(a, b, c, d)

2 2 2 2
3 3 3 3
4 4 4 4
5 5 5 5
6 6 6 6
8 8 8 8
9 9 9 9
10 10 10 10
11 11 11 11
12 12 12 12
13 13 13 13
14 14 14 14
15 15 15 15
16 16 16 16
17 17 17 17
18 18 18 18
19 19 19 19
20 20 20 20
21 21 21 21
22 22 22 22
23 23 23 23
24 24 24 24
25 25 25 25
26 26 26 26
27 27 27 27
28 28 28 28
29 29 29 29
30 30 30 30
31 31 31 31
32 32 32 32
33 33 33 33
34 34 34 34
35 35 35 35
36 36 36 36
37 37 37 37
38 38 38 38
39 39 39 39
40 40 40 40
41 41 41 41
42 42 42 42
43 43 43 43
44 44 44 44
45 45 45 45
46 46 46 46
47 47 47 47
48 48 48 48
49 49 49 49
50 50 50 50
51 51 51 51
52 52 52 52
53 53 53 53
54 54 54 54
55 55 55 55
56 56 56 56
57 57 57 57
58 58 58 58
59 59 59 59
60 60 60 60
61 61 61 61
62 62 62 62
63 63 63 63
64 64 64 64
65 65 65 65
66 66 66 66
67 67 67 67
68 68 68 68
69 69 69 69
70 70 70 70
71 71 71 71
72 72 72 72
73 73 73 73
74 74 74 74
75 75 75 75
76 76 76 76
77 77 77 77
78 78 78 78
79 79 79 79
80 80 80 80
81 81 81 81
82 82 82 82
83 83 83 83
84 84 84 84
85 85 85 85
86 86 86 86
87 87 87 87
88 88 88 88
91 91 91 91
92 92 92 92
93 93 93 93
94 94 94 94
95 95 95 95
96 96 96 96
97 97 97 97
98 98 98 98
99 99 99 99
100 100 100 100
101 101 101 101
102 102 102 102
103 103 103 103
104 104 104 104
105 105 105 105
106 106 106 106
107 107 107 107
108 108 108 108
109 109 109 109
110 110 110 110
111 111 111 111
112 112 112 112
113 113 113 113
114 114 114 114
115 115 115 115
116 116 116 116
117 117 117 117
118 118 118 118
119 119 119 119
120 120 120 120
125 125 125 125
126 126 126 126
127 127 127 127
128 128 128 128
129 129 129 129
130 130 130 130
131 131 131 131
132 132 132 132
133 133 133 133
134 134 134 134
135 135 135 135
136 136 136 136
137 137 137 137
138 138 138 138
139 139 139 139
140 140 140 140
141 141 141 141
142 142 142 142
143 143 143 143
144 144 144 144
145 145 145 145
146 146 146 146
147 147 147 147
148 148 148 148
149 149 149 149
150 150 150 150
151 151 151 151
152 152 152 152
153 153 153 153
154 154 154 154
155 155 155 155
156 156 156 156
157 157 157 157
158 158 158 158
159 159 159 159
160 160 160 160
161 161 161 161
162 162 162 162
163 163 163 163
164 164 164 164
165 165 165 165
166 166 166 166
167 167 167 167
168 168 168 168
169 169 169 169
170 170 170 170
171 171 171 171
172 172 172 172
173 173 173 173
174 174 174 174
175 175 175 175
176 176 176 176
177 177 177 177
178 178 178 178
179 179 179 179
180 180 180 180
181 181 181 181
182 182 182 182
183 183 183 183
184 184 184 184
185 185 185 185
186 186 186 186
187 187 187 187
188 188 188 188
189 189 189 189
190 190 190 190
191 191 191 191
192 192 192 192
193 193 193 193
194 194 194 194
195 195 195 195
196 196 196 196
197 197 197 197
198 198 198 198
199 199 199 199
200 200 200 200
201 201 201 201
202 202 202 202
203 203 203 203
204 204 204 204
205 205 205 205
206 206 206 206
207 207 207 207
208 208 208 208
209 209 209 209
210 210 210 210
211 211 211 211
212 212 212 212
213 213 213 213
214 214 214 214
215 215 215 215
216 216 216 216
217 217 217 217
218 218 218 218
219 219 219 219
220 220 220 220
221 221 221 221
222 222 222 222
223 223 223 223
224 224 224 224
225 225 225 225
226 226 226 226
227 227 227 227
228 228 228 228
229 229 229 229
230 230 230 230
231 231 231 231
232 232 232 232
233 233 233 233
234 234 234 234
235 235 235 235
236 236 236 236
237 237 237 237
238 238 238 238
239 239 239 239
240 240 240 240
241 241 241 241
242 242 242 242
243 243 243 243
244 244 244 244
246 246 246 246
247 247 247 247
248 248 248 248
249 249 249 249
250 250 250 250
251 251 251 251
253 253 253 253
254 254 254 254
255 255 255 255
256 256 256 256
257 257 257 257
258 258 258 258
259 259 259 259
260 260 260 260
261 261 261 261
262 262 262 262
263 263 263 263
264 264 264 264
265 265 265 265
266 266 266 266
267 267 267 267
268 268 268 268
269 269 269 269
270 270 270 270
271 271 271 271
272 272 272 272
273 273 273 273
274 274 274 274
275 275 275 275
276 276 276 276
277 277 277 277
278 278 278 278
279 279 279 279
280 280 280 280
281 281 281 281
282 282 282 282
283 283 283 283
284 284 284 284
285 285 285 285
286 286 286 286
287 287 287 287
288 288 288 288
289 289 289 289
290 290 290 290
291 291 291 291
292 292 292 292
293 293 293 293
294 294 294 294
295 295 295 295
296 296 296 296
302 302 302 302
303 303 303 303
304 304 304 304
305 305 305 305
306 306 306 306
307 307 307 307
308 308 308 308
309 309 309 309
310 310 310 310
311 311 311 311
312 312 312 312
313 313 313 313
314 314 314 314
315 315 315 315
316 316 316 316
317 317 317 317
318 318 318 318
319 319 319 319
320 320 320 320
321 321 321 321
322 322 322 322
323 323 323 323
324 324 324 324
325 325 325 325
326 326 326 326
327 327 327 327
None None 328 328
None None 329 329
None None 330 330
None None 331 331
None None 332 332
None None 333 333
None None 334 334
None None 335 335
None None 336 336
None None 337 337
None None 338 338
None None 339 339
None None 340 340
None None 341 341
None None 342 342
None None 343 343
None None 344 344
None None 345 345
None None 346 346
None None 347 347
None None 348 348
None None 349 349
None None 350 350
None None 351 351
None None 352 352
None None None 353
None None None 354
None None None 355
None None None 356
None None None 357
None None None 358
None None None 359
None None None 360
None None None 361
None None None 362
None None None 363
None None None 364
None None None 365
None None None 366
None None None 368
None None None 369
None None None 370
None None None 371
None None None 372
None None None 373
None None None 374
None None None 375
None None None 376
None None None 377
None None None 378
None None None 379
None None None 380
None None None 381
None None None 382
None None None 383
None None None 384
None None None 385
None None None 386
None None None 387
None None None 388
None None None 389
None None None 390

In [77]:
data_prueba = pd.read_csv('mibici/2019.csv')
data_prueba.head()

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,Origen_Id,Destino_Id,Tiempo_viaje
0,8901295,341162,M,1992.0,2019-01-01 00:00:00,2019-01-01 00:16:09,50,54,16.150000
1,8901296,413443,M,1985.0,2019-01-01 06:01:05,2019-01-01 06:16:27,38,194,15.366667
2,8901297,444232,M,1995.0,2019-01-01 06:01:19,2019-01-01 06:09:55,86,18,8.600000
3,8901298,437533,M,1998.0,2019-01-01 06:01:25,2019-01-01 06:02:04,86,86,0.650000
4,8901299,430224,M,1992.0,2019-01-01 06:01:57,2019-01-01 06:05:01,27,52,3.066667

In [78]:
id_prueba = data_prueba['Origen_Id'].unique()

In [79]:
len(id_prueba)

275

In [80]:
len(estaciones_unicas[0])

312

In [81]:
for i in range(len(estaciones_unicas[0])):
    if estaciones_unicas[0][i] not in id_prueba:
        print(estaciones_unicas[0][i])
print("Otras")
for i in range(len(id_prueba)):
    if id_prueba[i] not in estaciones_unicas[0]:
        print(id_prueba[i])

22
94
97
99
109
113
114
116
138
147
223
250
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
Otras
124

In [82]:
print(np.sum(data_prueba['Origen_Id'] == 124))
print(np.sum(data_prueba['Origen_Id'] == 124))

16
16

In [83]:
total_entradas = np.sum((data_prueba['Origen_Id'] == 124) & (data_prueba['Destino_Id'] == 124))
print(32 - total_entradas)

23

In [84]:
data_prueba2 = pd.read_csv('mibici/2020.csv')
data_prueba2.head()

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,Origen_Id,Destino_Id,Tiempo_viaje
0,14420217,451617,M,1992.0,2020-01-01 06:02:20,2020-01-01 06:05:38,52,268,3.300000
1,14420218,324211,M,1985.0,2020-01-01 06:02:22,2020-01-01 06:07:32,254,180,5.166667
2,14420219,611633,M,1981.0,2020-01-01 06:03:01,2020-01-01 06:21:43,258,278,18.700000
3,14420220,521601,M,1989.0,2020-01-01 06:05:48,2020-01-01 06:15:11,200,201,9.383333
4,14420221,631227,M,1979.0,2020-01-01 06:08:15,2020-01-01 06:29:33,151,248,21.300000

In [85]:
id_prueba2 = data_prueba2['Origen_Id'].unique()

In [86]:
for i in range(len(id_prueba2)):
    if id_prueba2[i] not in estaciones_unicas[0]:
        print(id_prueba2[i])

124

In [87]:
print(np.sum(data_prueba2['Origen_Id'] == 124))
print(np.sum(data_prueba2['Destino_Id'] == 124))

6
4

In [88]:
total_entradas = np.sum((data_prueba2['Origen_Id'] == 124) & (data_prueba2['Destino_Id'] == 124))
print(10 - total_entradas)

7

In [89]:
data_prueba3 = pd.read_csv('mibici/2021.csv')
data_prueba3.head()

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,Origen_Id,Destino_Id,Tiempo_viaje
0,18026279,436620,M,1978.0,2021-01-01 00:10:40,2021-01-01 00:17:54,62,77,7.233333
1,18026280,672064,M,1977.0,2021-01-01 05:58:10,2021-01-01 05:58:37,19,19,0.450000
2,18026281,653216,M,1976.0,2021-01-01 05:58:17,2021-01-01 06:01:11,11,182,2.900000
3,18026282,672064,M,1977.0,2021-01-01 05:58:59,2021-01-01 06:09:26,19,11,10.450000
4,18026283,521601,M,1989.0,2021-01-01 06:00:58,2021-01-01 06:08:00,200,198,7.033333

In [90]:
id_prueba3 = data_prueba3['Origen_Id'].unique()

In [91]:
for i in range(len(id_prueba3)):
    if id_prueba3[i] not in estaciones_unicas[0]:
        print(id_prueba3[i])

In [92]:
print(np.sum(data_prueba3['Origen_Id'] == 124))
print(np.sum(data_prueba3['Destino_Id'] == 124))

0
0

In [93]:
del data_prueba3
del data_prueba2
del data_prueba

In [94]:
del n_22
del n_23_1
del n_23_2
del n_24
del estaciones_unicas

In [2]:
n_fixed = pd.read_csv('nomenclaturas/nomenclatura_2024_07.csv', encoding='latin1')
n_fixed.head()

,id,name,obcn,location,latitude,longitude,status
0,2,(GDL-001) C. Epigmenio Glez./ Av. 16 de Sept.,GDL-001,POLÍGONO CENTRAL,20.666378,-103.348820,IN_SERVICE
1,3,(GDL-002) C. Colonias / Av. Niños héroes,GDL-002,POLÍGONO CENTRAL,20.667228,-103.366000,IN_SERVICE
2,4,(GDL-003) C. Vidrio / Av. Chapultepec,GDL-003,POLÍGONO CENTRAL,20.667690,-103.368252,IN_SERVICE
3,5,(GDL-004) C. Ghilardi /C. Miraflores,GDL-004,POLÍGONO CENTRAL,20.691847,-103.362549,IN_SERVICE
4,6,(GDL-005) C. San Diego /Calzada Independencia,GDL-005,POLÍGONO CENTRAL,20.681158,-103.339363,IN_SERVICE

In [3]:
ns = []
ns.append(pd.read_csv('nomenclaturas/nomenclatura_2022_11.csv', encoding='latin1'))
ns.append(pd.read_csv('nomenclaturas/nomenclatura_2023_02.csv', encoding='latin1'))
ns.append(pd.read_csv('nomenclaturas/nomenclatura_2023_10.csv', encoding='latin1'))

In [7]:
for i in range(len(ns)):
    print('Revisando nomenclatura', i)
    for id in ns[i]['id']:
        current_data_fixed = n_fixed[n_fixed['id'] == id]
        current_data = ns[i][ns[i]['id'] == id]
        if current_data_fixed['latitude'].values != current_data['latitude'].values:
            print(id)
            print('latitud en 2024: ', current_data_fixed['latitude'].values, 'latitud en ', i, ': ', current_data['latitude'].values)
        if current_data_fixed['longitude'].values != current_data['longitude'].values:
            print(id)
            print('longitud en 2024: ', current_data_fixed['longitude'].values, 'longitud en ', i, ': ', current_data['longitude'].values)

Revisando nomenclatura 0
5
latitud en 2024:  [20.6918466] latitud en  0 :  [20.69175]
5
longitud en 2024:  [-103.3625487] longitud en  0 :  [-103.36255]
6
latitud en 2024:  [20.6811575] latitud en  0 :  [20.681151]
6
longitud en 2024:  [-103.339363] longitud en  0 :  [-103.338863]
11
latitud en 2024:  [20.68207685] latitud en  0 :  [20.681984]
14
latitud en 2024:  [20.6820683] latitud en  0 :  [20.681989]
14
longitud en 2024:  [-103.3629218] longitud en  0 :  [-103.36292]
16
latitud en 2024:  [20.6821447] latitud en  0 :  [20.682059]
16
longitud en 2024:  [-103.3659297] longitud en  0 :  [-103.365969]
18
latitud en 2024:  [20.6824637] latitud en  0 :  [20.682007]
18
longitud en 2024:  [-103.3726232] longitud en  0 :  [-103.372642]
21
latitud en 2024:  [20.67881367] latitud en  0 :  [20.678835]
21
longitud en 2024:  [-103.3680584] longitud en  0 :  [-103.368045]
30
longitud en 2024:  [-103.3612673] longitud en  0 :  [-103.361267]
59
latitud en 2024:  [20.67270672] latitud en  0 :  [20.672516]
59
longitud en 2024:  [-103.3496159] longitud en  0 :  [-103.349573]
78
latitud en 2024:  [20.67096728] latitud en  0 :  [20.670243]
78
longitud en 2024:  [-103.3448483] longitud en  0 :  [-103.346195]
80
latitud en 2024:  [20.66888] latitud en  0 :  [20.667946]
80
longitud en 2024:  [-103.34846] longitud en  0 :  [-103.346775]
91
latitud en 2024:  [20.73264394] latitud en  0 :  [20.73244]
91
longitud en 2024:  [-103.3963456] longitud en  0 :  [-103.396083]
104
latitud en 2024:  [20.71837415] latitud en  0 :  [20.7352743]
104
longitud en 2024:  [-103.3742183] longitud en  0 :  [-103.3997461]
110
latitud en 2024:  [20.720987] latitud en  0 :  [20.721002]
110
longitud en 2024:  [-103.38625] longitud en  0 :  [-103.386526]
111
latitud en 2024:  [20.728243] latitud en  0 :  [20.72832]
111
longitud en 2024:  [-103.384072] longitud en  0 :  [-103.384156]
132
latitud en 2024:  [20.666033] latitud en  0 :  [20.66581]
132
longitud en 2024:  [-103.40687] longitud en  0 :  [-103.40662]
164
latitud en 2024:  [20.68859811] latitud en  0 :  [20.68981]
164
longitud en 2024:  [-103.3584672] longitud en  0 :  [-103.3582]
165
latitud en 2024:  [20.6919612] latitud en  0 :  [20.693072]
165
longitud en 2024:  [-103.3540408] longitud en  0 :  [-103.354209]
178
latitud en 2024:  [20.6863794] latitud en  0 :  [20.686228]
178
longitud en 2024:  [-103.3368076] longitud en  0 :  [-103.336305]
191
latitud en 2024:  [20.6776729] latitud en  0 :  [20.67741]
191
longitud en 2024:  [-103.3835367] longitud en  0 :  [-103.38387]
195
latitud en 2024:  [20.67498792] latitud en  0 :  [20.67554]
195
longitud en 2024:  [-103.3840444] longitud en  0 :  [-103.38409]
201
latitud en 2024:  [20.670209] latitud en  0 :  [20.67016]
201
longitud en 2024:  [-103.384221] longitud en  0 :  [-103.38448]
246
latitud en 2024:  [20.6853596] latitud en  0 :  [20.684513]
246
longitud en 2024:  [-103.3339031] longitud en  0 :  [-103.33307]
253
latitud en 2024:  [20.67323693] latitud en  0 :  [20.6731682]
253
longitud en 2024:  [-103.3826946] longitud en  0 :  [-103.3826893]
255
latitud en 2024:  [20.6843419] latitud en  0 :  [20.6841645]
255
longitud en 2024:  [-103.3646036] longitud en  0 :  [-103.3648293]
260
latitud en 2024:  [20.6726395] latitud en  0 :  [20.67284]
260
longitud en 2024:  [-103.3471549] longitud en  0 :  [-103.34718]
306
latitud en 2024:  [20.660955] latitud en  0 :  [20.6609371]
306
longitud en 2024:  [-103.408683] longitud en  0 :  [-103.4086745]
310
latitud en 2024:  [20.72295285] latitud en  0 :  [20.6644831]
310
longitud en 2024:  [-103.3733039] longitud en  0 :  [-103.4130582]
320
latitud en 2024:  [20.6579741] latitud en  0 :  [20.6578996]
320
longitud en 2024:  [-103.4173432] longitud en  0 :  [-103.4171896]
Revisando nomenclatura 1
5
latitud en 2024:  [20.6918466] latitud en  1 :  [20.69175]
5
longitud en 2024:  [-103.3625487] longitud en  1 :  [-103.36255]
6
latitud en 2024:  [20.6811575] latitud en  1 :  [20.681151]
6
longitud en 2024:  [-103.339363] longitud en  1 :  [-103.338863]
11
latitud en 2024:  [20.68207685] latitud en  1 :  [20.681984]
14
latitud en 2024:  [20.6820683] latitud en  1 :  [20.681989]
14
longitud en 2024:  [-103.3629218] longitud en  1 :  [-103.36292]
16
latitud en 2024:  [20.6821447] latitud en  1 :  [20.682059]
16
longitud en 2024:  [-103.3659297] longitud en  1 :  [-103.365969]
18
latitud en 2024:  [20.6824637] latitud en  1 :  [20.682007]
18
longitud en 2024:  [-103.3726232] longitud en  1 :  [-103.372642]
21
latitud en 2024:  [20.67881367] latitud en  1 :  [20.678835]
21
longitud en 2024:  [-103.3680584] longitud en  1 :  [-103.368045]
30
longitud en 2024:  [-103.3612673] longitud en  1 :  [-103.361267]
59
latitud en 2024:  [20.67270672] latitud en  1 :  [20.672516]
59
longitud en 2024:  [-103.3496159] longitud en  1 :  [-103.349573]
78
latitud en 2024:  [20.67096728] latitud en  1 :  [20.670243]
78
longitud en 2024:  [-103.3448483] longitud en  1 :  [-103.346195]
80
latitud en 2024:  [20.66888] latitud en  1 :  [20.667946]
80
longitud en 2024:  [-103.34846] longitud en  1 :  [-103.346775]
91
latitud en 2024:  [20.73264394] latitud en  1 :  [20.73244]
91
longitud en 2024:  [-103.3963456] longitud en  1 :  [-103.396083]
104
latitud en 2024:  [20.71837415] latitud en  1 :  [20.7352743]
104
longitud en 2024:  [-103.3742183] longitud en  1 :  [-103.3997461]
110
latitud en 2024:  [20.720987] latitud en  1 :  [20.721002]
110
longitud en 2024:  [-103.38625] longitud en  1 :  [-103.386526]
111
latitud en 2024:  [20.728243] latitud en  1 :  [20.72832]
111
longitud en 2024:  [-103.384072] longitud en  1 :  [-103.384156]
132
latitud en 2024:  [20.666033] latitud en  1 :  [20.66581]
132
longitud en 2024:  [-103.40687] longitud en  1 :  [-103.40662]
164
latitud en 2024:  [20.68859811] latitud en  1 :  [20.68981]
164
longitud en 2024:  [-103.3584672] longitud en  1 :  [-103.3582]
165
latitud en 2024:  [20.6919612] latitud en  1 :  [20.693072]
165
longitud en 2024:  [-103.3540408] longitud en  1 :  [-103.354209]
178
latitud en 2024:  [20.6863794] latitud en  1 :  [20.686228]
178
longitud en 2024:  [-103.3368076] longitud en  1 :  [-103.336305]
191
latitud en 2024:  [20.6776729] latitud en  1 :  [20.67741]
191
longitud en 2024:  [-103.3835367] longitud en  1 :  [-103.38387]
195
latitud en 2024:  [20.67498792] latitud en  1 :  [20.67554]
195
longitud en 2024:  [-103.3840444] longitud en  1 :  [-103.38409]
201
latitud en 2024:  [20.670209] latitud en  1 :  [20.67016]
201
longitud en 2024:  [-103.384221] longitud en  1 :  [-103.38448]
246
latitud en 2024:  [20.6853596] latitud en  1 :  [20.684513]
246
longitud en 2024:  [-103.3339031] longitud en  1 :  [-103.33307]
253
latitud en 2024:  [20.67323693] latitud en  1 :  [20.6731682]
253
longitud en 2024:  [-103.3826946] longitud en  1 :  [-103.3826893]
255
latitud en 2024:  [20.6843419] latitud en  1 :  [20.6841645]
255
longitud en 2024:  [-103.3646036] longitud en  1 :  [-103.3648293]
260
latitud en 2024:  [20.6726395] latitud en  1 :  [20.67284]
260
longitud en 2024:  [-103.3471549] longitud en  1 :  [-103.34718]
306
latitud en 2024:  [20.660955] latitud en  1 :  [20.6609371]
306
longitud en 2024:  [-103.408683] longitud en  1 :  [-103.4086745]
310
latitud en 2024:  [20.72295285] latitud en  1 :  [20.6644831]
310
longitud en 2024:  [-103.3733039] longitud en  1 :  [-103.4130582]
320
latitud en 2024:  [20.6579741] latitud en  1 :  [20.6578996]
320
longitud en 2024:  [-103.4173432] longitud en  1 :  [-103.4171896]
Revisando nomenclatura 2
5
latitud en 2024:  [20.6918466] latitud en  2 :  [20.69175]
5
longitud en 2024:  [-103.3625487] longitud en  2 :  [-103.36255]
11
latitud en 2024:  [20.68207685] latitud en  2 :  [20.68207685]
18
latitud en 2024:  [20.6824637] latitud en  2 :  [20.682007]
18
longitud en 2024:  [-103.3726232] longitud en  2 :  [-103.372642]
21
latitud en 2024:  [20.67881367] latitud en  2 :  [20.67881367]
59
latitud en 2024:  [20.67270672] latitud en  2 :  [20.67270672]
78
latitud en 2024:  [20.67096728] latitud en  2 :  [20.67096728]
91
latitud en 2024:  [20.73264394] latitud en  2 :  [20.73244]
91
longitud en 2024:  [-103.3963456] longitud en  2 :  [-103.396083]
104
latitud en 2024:  [20.71837415] latitud en  2 :  [20.7352743]
104
longitud en 2024:  [-103.3742183] longitud en  2 :  [-103.3997461]
164
latitud en 2024:  [20.68859811] latitud en  2 :  [20.68859811]
195
latitud en 2024:  [20.67498792] latitud en  2 :  [20.67554]
195
longitud en 2024:  [-103.3840444] longitud en  2 :  [-103.38409]
253
latitud en 2024:  [20.67323693] latitud en  2 :  [20.6731682]
253
longitud en 2024:  [-103.3826946] longitud en  2 :  [-103.3826893]
310
latitud en 2024:  [20.72295285] latitud en  2 :  [20.6644831]
310
longitud en 2024:  [-103.3733039] longitud en  2 :  [-103.4130582]
328
latitud en 2024:  [20.70446252] latitud en  2 :  [20.70446252]
330
latitud en 2024:  [20.70352059] latitud en  2 :  [20.70352059]
332
latitud en 2024:  [20.70237629] latitud en  2 :  [20.70237629]
333
latitud en 2024:  [20.69124651] latitud en  2 :  [20.69124651]
334
latitud en 2024:  [20.67263409] latitud en  2 :  [20.67263409]
335
latitud en 2024:  [20.69389142] latitud en  2 :  [20.69389142]
336
latitud en 2024:  [20.69436327] latitud en  2 :  [20.69436327]
337
latitud en 2024:  [20.69091412] latitud en  2 :  [20.69091412]
338
latitud en 2024:  [20.67462037] latitud en  2 :  [20.67462037]
339
latitud en 2024:  [20.72249627] latitud en  2 :  [20.72249627]
340
latitud en 2024:  [20.72229883] latitud en  2 :  [20.72229883]
341
latitud en 2024:  [20.71285046] latitud en  2 :  [20.71285046]
342
latitud en 2024:  [20.66518152] latitud en  2 :  [20.66518152]
343
latitud en 2024:  [20.66459936] latitud en  2 :  [20.66459936]
344
latitud en 2024:  [20.66256932] latitud en  2 :  [20.66256932]
346
latitud en 2024:  [20.68560931] latitud en  2 :  [20.68560931]
347
latitud en 2024:  [20.68385128] latitud en  2 :  [20.68385128]
348
latitud en 2024:  [20.68323747] latitud en  2 :  [20.67805741]
348
longitud en 2024:  [-103.3352032] longitud en  2 :  [-103.3416985]
349
latitud en 2024:  [20.6895757] latitud en  2 :  [20.6895757]
350
latitud en 2024:  [20.70509097] latitud en  2 :  [20.70509097]
351
latitud en 2024:  [20.67459513] latitud en  2 :  [20.67459513]
352
latitud en 2024:  [20.67263879] latitud en  2 :  [20.67263879]

In [17]:
for i in range(len(ns)):
    print('Revisando nomenclatura', i)
    for id in ns[i]['id']:
        current_data_fixed = n_fixed[n_fixed['id'] == id]
        current_data = ns[i][ns[i]['id'] == id]
        if current_data_fixed['latitude'].values != current_data['latitude'].values or current_data_fixed['longitude'].values != current_data['longitude'].values:
            print('ID: ', id)
            print('latitud en 2024: ', current_data_fixed['latitude'].values, 'latitud en ', i, ': ', current_data['latitude'].values)
            print('longitud en 2024: ', current_data_fixed['longitude'].values, 'longitud en ', i, ': ', current_data['longitude'].values)
            # para verificar que en los datos de 2024 haya alguno con la misma latitud
            matching_latitude = n_fixed[n_fixed['latitude'] == current_data['latitude'].values[0]]

            if not matching_latitude.empty:
                for match_id in matching_latitude['id'].values:
                    match_data = n_fixed[n_fixed['id'] == match_id]
                    if not match_data.empty and match_data['longitude'].values[0] == current_data['longitude'].values[0]:
                        print("ID en n_fixed con la misma latitud y longitud:", match_id)
            else:
                print("No hay coincidencias en latitud")
       
            # Verificar coincidencias en latitud
            matching_longitude = n_fixed[n_fixed['longitude'] == current_data['longitude'].values[0]]
            if not matching_longitude.empty:
                for match_id in matching_longitude['id'].values:
                    match_data = n_fixed[n_fixed['id'] == match_id]
                    if not match_data.empty and match_data['latitude'].values[0] == current_data['latitude'].values[0]:
                        print("ID en n_fixed con la misma latitud y longitud:", match_id)
            else:
                print("No hay coincidencias en longitud")

Revisando nomenclatura 0
ID:  5
latitud en 2024:  [20.6918466] latitud en  0 :  [20.69175]
longitud en 2024:  [-103.3625487] longitud en  0 :  [-103.36255]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  6
latitud en 2024:  [20.6811575] latitud en  0 :  [20.681151]
longitud en 2024:  [-103.339363] longitud en  0 :  [-103.338863]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  11
latitud en 2024:  [20.68207685] latitud en  0 :  [20.681984]
longitud en 2024:  [-103.353835] longitud en  0 :  [-103.353835]
No hay coincidencias en latitud
ID:  14
latitud en 2024:  [20.6820683] latitud en  0 :  [20.681989]
longitud en 2024:  [-103.3629218] longitud en  0 :  [-103.36292]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  16
latitud en 2024:  [20.6821447] latitud en  0 :  [20.682059]
longitud en 2024:  [-103.3659297] longitud en  0 :  [-103.365969]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  18
latitud en 2024:  [20.6824637] latitud en  0 :  [20.682007]
longitud en 2024:  [-103.3726232] longitud en  0 :  [-103.372642]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  21
latitud en 2024:  [20.67881367] latitud en  0 :  [20.678835]
longitud en 2024:  [-103.3680584] longitud en  0 :  [-103.368045]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  30
latitud en 2024:  [20.6840145] latitud en  0 :  [20.6840145]
longitud en 2024:  [-103.3612673] longitud en  0 :  [-103.361267]
No hay coincidencias en longitud
ID:  59
latitud en 2024:  [20.67270672] latitud en  0 :  [20.672516]
longitud en 2024:  [-103.3496159] longitud en  0 :  [-103.349573]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  78
latitud en 2024:  [20.67096728] latitud en  0 :  [20.670243]
longitud en 2024:  [-103.3448483] longitud en  0 :  [-103.346195]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  80
latitud en 2024:  [20.66888] latitud en  0 :  [20.667946]
longitud en 2024:  [-103.34846] longitud en  0 :  [-103.346775]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  91
latitud en 2024:  [20.73264394] latitud en  0 :  [20.73244]
longitud en 2024:  [-103.3963456] longitud en  0 :  [-103.396083]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  104
latitud en 2024:  [20.71837415] latitud en  0 :  [20.7352743]
longitud en 2024:  [-103.3742183] longitud en  0 :  [-103.3997461]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  110
latitud en 2024:  [20.720987] latitud en  0 :  [20.721002]
longitud en 2024:  [-103.38625] longitud en  0 :  [-103.386526]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  111
latitud en 2024:  [20.728243] latitud en  0 :  [20.72832]
longitud en 2024:  [-103.384072] longitud en  0 :  [-103.384156]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  132
latitud en 2024:  [20.666033] latitud en  0 :  [20.66581]
longitud en 2024:  [-103.40687] longitud en  0 :  [-103.40662]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  164
latitud en 2024:  [20.68859811] latitud en  0 :  [20.68981]
longitud en 2024:  [-103.3584672] longitud en  0 :  [-103.3582]
No hay coincidencias en longitud
ID:  165
latitud en 2024:  [20.6919612] latitud en  0 :  [20.693072]
longitud en 2024:  [-103.3540408] longitud en  0 :  [-103.354209]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  178
latitud en 2024:  [20.6863794] latitud en  0 :  [20.686228]
longitud en 2024:  [-103.3368076] longitud en  0 :  [-103.336305]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  191
latitud en 2024:  [20.6776729] latitud en  0 :  [20.67741]
longitud en 2024:  [-103.3835367] longitud en  0 :  [-103.38387]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  195
latitud en 2024:  [20.67498792] latitud en  0 :  [20.67554]
longitud en 2024:  [-103.3840444] longitud en  0 :  [-103.38409]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  201
latitud en 2024:  [20.670209] latitud en  0 :  [20.67016]
longitud en 2024:  [-103.384221] longitud en  0 :  [-103.38448]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  246
latitud en 2024:  [20.6853596] latitud en  0 :  [20.684513]
longitud en 2024:  [-103.3339031] longitud en  0 :  [-103.33307]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  253
latitud en 2024:  [20.67323693] latitud en  0 :  [20.6731682]
longitud en 2024:  [-103.3826946] longitud en  0 :  [-103.3826893]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  255
latitud en 2024:  [20.6843419] latitud en  0 :  [20.6841645]
longitud en 2024:  [-103.3646036] longitud en  0 :  [-103.3648293]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  260
latitud en 2024:  [20.6726395] latitud en  0 :  [20.67284]
longitud en 2024:  [-103.3471549] longitud en  0 :  [-103.34718]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  306
latitud en 2024:  [20.660955] latitud en  0 :  [20.6609371]
longitud en 2024:  [-103.408683] longitud en  0 :  [-103.4086745]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  310
latitud en 2024:  [20.72295285] latitud en  0 :  [20.6644831]
longitud en 2024:  [-103.3733039] longitud en  0 :  [-103.4130582]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  320
latitud en 2024:  [20.6579741] latitud en  0 :  [20.6578996]
longitud en 2024:  [-103.4173432] longitud en  0 :  [-103.4171896]
No hay coincidencias en latitud
No hay coincidencias en longitud
Revisando nomenclatura 1
ID:  5
latitud en 2024:  [20.6918466] latitud en  1 :  [20.69175]
longitud en 2024:  [-103.3625487] longitud en  1 :  [-103.36255]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  6
latitud en 2024:  [20.6811575] latitud en  1 :  [20.681151]
longitud en 2024:  [-103.339363] longitud en  1 :  [-103.338863]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  11
latitud en 2024:  [20.68207685] latitud en  1 :  [20.681984]
longitud en 2024:  [-103.353835] longitud en  1 :  [-103.353835]
No hay coincidencias en latitud
ID:  14
latitud en 2024:  [20.6820683] latitud en  1 :  [20.681989]
longitud en 2024:  [-103.3629218] longitud en  1 :  [-103.36292]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  16
latitud en 2024:  [20.6821447] latitud en  1 :  [20.682059]
longitud en 2024:  [-103.3659297] longitud en  1 :  [-103.365969]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  18
latitud en 2024:  [20.6824637] latitud en  1 :  [20.682007]
longitud en 2024:  [-103.3726232] longitud en  1 :  [-103.372642]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  21
latitud en 2024:  [20.67881367] latitud en  1 :  [20.678835]
longitud en 2024:  [-103.3680584] longitud en  1 :  [-103.368045]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  30
latitud en 2024:  [20.6840145] latitud en  1 :  [20.6840145]
longitud en 2024:  [-103.3612673] longitud en  1 :  [-103.361267]
No hay coincidencias en longitud
ID:  59
latitud en 2024:  [20.67270672] latitud en  1 :  [20.672516]
longitud en 2024:  [-103.3496159] longitud en  1 :  [-103.349573]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  78
latitud en 2024:  [20.67096728] latitud en  1 :  [20.670243]
longitud en 2024:  [-103.3448483] longitud en  1 :  [-103.346195]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  80
latitud en 2024:  [20.66888] latitud en  1 :  [20.667946]
longitud en 2024:  [-103.34846] longitud en  1 :  [-103.346775]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  91
latitud en 2024:  [20.73264394] latitud en  1 :  [20.73244]
longitud en 2024:  [-103.3963456] longitud en  1 :  [-103.396083]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  104
latitud en 2024:  [20.71837415] latitud en  1 :  [20.7352743]
longitud en 2024:  [-103.3742183] longitud en  1 :  [-103.3997461]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  110
latitud en 2024:  [20.720987] latitud en  1 :  [20.721002]
longitud en 2024:  [-103.38625] longitud en  1 :  [-103.386526]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  111
latitud en 2024:  [20.728243] latitud en  1 :  [20.72832]
longitud en 2024:  [-103.384072] longitud en  1 :  [-103.384156]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  132
latitud en 2024:  [20.666033] latitud en  1 :  [20.66581]
longitud en 2024:  [-103.40687] longitud en  1 :  [-103.40662]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  164
latitud en 2024:  [20.68859811] latitud en  1 :  [20.68981]
longitud en 2024:  [-103.3584672] longitud en  1 :  [-103.3582]
No hay coincidencias en longitud
ID:  165
latitud en 2024:  [20.6919612] latitud en  1 :  [20.693072]
longitud en 2024:  [-103.3540408] longitud en  1 :  [-103.354209]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  178
latitud en 2024:  [20.6863794] latitud en  1 :  [20.686228]
longitud en 2024:  [-103.3368076] longitud en  1 :  [-103.336305]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  191
latitud en 2024:  [20.6776729] latitud en  1 :  [20.67741]
longitud en 2024:  [-103.3835367] longitud en  1 :  [-103.38387]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  195
latitud en 2024:  [20.67498792] latitud en  1 :  [20.67554]
longitud en 2024:  [-103.3840444] longitud en  1 :  [-103.38409]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  201
latitud en 2024:  [20.670209] latitud en  1 :  [20.67016]
longitud en 2024:  [-103.384221] longitud en  1 :  [-103.38448]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  246
latitud en 2024:  [20.6853596] latitud en  1 :  [20.684513]
longitud en 2024:  [-103.3339031] longitud en  1 :  [-103.33307]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  253
latitud en 2024:  [20.67323693] latitud en  1 :  [20.6731682]
longitud en 2024:  [-103.3826946] longitud en  1 :  [-103.3826893]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  255
latitud en 2024:  [20.6843419] latitud en  1 :  [20.6841645]
longitud en 2024:  [-103.3646036] longitud en  1 :  [-103.3648293]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  260
latitud en 2024:  [20.6726395] latitud en  1 :  [20.67284]
longitud en 2024:  [-103.3471549] longitud en  1 :  [-103.34718]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  306
latitud en 2024:  [20.660955] latitud en  1 :  [20.6609371]
longitud en 2024:  [-103.408683] longitud en  1 :  [-103.4086745]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  310
latitud en 2024:  [20.72295285] latitud en  1 :  [20.6644831]
longitud en 2024:  [-103.3733039] longitud en  1 :  [-103.4130582]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  320
latitud en 2024:  [20.6579741] latitud en  1 :  [20.6578996]
longitud en 2024:  [-103.4173432] longitud en  1 :  [-103.4171896]
No hay coincidencias en latitud
No hay coincidencias en longitud
Revisando nomenclatura 2
ID:  5
latitud en 2024:  [20.6918466] latitud en  2 :  [20.69175]
longitud en 2024:  [-103.3625487] longitud en  2 :  [-103.36255]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  11
latitud en 2024:  [20.68207685] latitud en  2 :  [20.68207685]
longitud en 2024:  [-103.353835] longitud en  2 :  [-103.353835]
No hay coincidencias en latitud
ID:  18
latitud en 2024:  [20.6824637] latitud en  2 :  [20.682007]
longitud en 2024:  [-103.3726232] longitud en  2 :  [-103.372642]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  21
latitud en 2024:  [20.67881367] latitud en  2 :  [20.67881367]
longitud en 2024:  [-103.3680584] longitud en  2 :  [-103.3680584]
No hay coincidencias en latitud
ID:  59
latitud en 2024:  [20.67270672] latitud en  2 :  [20.67270672]
longitud en 2024:  [-103.3496159] longitud en  2 :  [-103.3496159]
No hay coincidencias en latitud
ID:  78
latitud en 2024:  [20.67096728] latitud en  2 :  [20.67096728]
longitud en 2024:  [-103.3448483] longitud en  2 :  [-103.3448483]
No hay coincidencias en latitud
ID:  91
latitud en 2024:  [20.73264394] latitud en  2 :  [20.73244]
longitud en 2024:  [-103.3963456] longitud en  2 :  [-103.396083]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  104
latitud en 2024:  [20.71837415] latitud en  2 :  [20.7352743]
longitud en 2024:  [-103.3742183] longitud en  2 :  [-103.3997461]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  164
latitud en 2024:  [20.68859811] latitud en  2 :  [20.68859811]
longitud en 2024:  [-103.3584672] longitud en  2 :  [-103.3584672]
No hay coincidencias en latitud
ID:  195
latitud en 2024:  [20.67498792] latitud en  2 :  [20.67554]
longitud en 2024:  [-103.3840444] longitud en  2 :  [-103.38409]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  253
latitud en 2024:  [20.67323693] latitud en  2 :  [20.6731682]
longitud en 2024:  [-103.3826946] longitud en  2 :  [-103.3826893]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  310
latitud en 2024:  [20.72295285] latitud en  2 :  [20.6644831]
longitud en 2024:  [-103.3733039] longitud en  2 :  [-103.4130582]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  328
latitud en 2024:  [20.70446252] latitud en  2 :  [20.70446252]
longitud en 2024:  [-103.3513929] longitud en  2 :  [-103.3513929]
No hay coincidencias en latitud
ID:  330
latitud en 2024:  [20.70352059] latitud en  2 :  [20.70352059]
longitud en 2024:  [-103.347726] longitud en  2 :  [-103.347726]
No hay coincidencias en latitud
ID:  332
latitud en 2024:  [20.70237629] latitud en  2 :  [20.70237629]
longitud en 2024:  [-103.350088] longitud en  2 :  [-103.350088]
No hay coincidencias en latitud
ID:  333
latitud en 2024:  [20.69124651] latitud en  2 :  [20.69124651]
longitud en 2024:  [-103.3480637] longitud en  2 :  [-103.3480637]
No hay coincidencias en latitud
ID:  334
latitud en 2024:  [20.67263409] latitud en  2 :  [20.67263409]
longitud en 2024:  [-103.3315619] longitud en  2 :  [-103.3315619]
No hay coincidencias en latitud
ID:  335
latitud en 2024:  [20.69389142] latitud en  2 :  [20.69389142]
longitud en 2024:  [-103.3387738] longitud en  2 :  [-103.3387738]
No hay coincidencias en latitud
ID:  336
latitud en 2024:  [20.69436327] latitud en  2 :  [20.69436327]
longitud en 2024:  [-103.337267] longitud en  2 :  [-103.337267]
No hay coincidencias en latitud
ID:  337
latitud en 2024:  [20.69091412] latitud en  2 :  [20.69091412]
longitud en 2024:  [-103.3371268] longitud en  2 :  [-103.3371268]
No hay coincidencias en latitud
ID:  338
latitud en 2024:  [20.67462037] latitud en  2 :  [20.67462037]
longitud en 2024:  [-103.3319619] longitud en  2 :  [-103.3319619]
No hay coincidencias en latitud
ID:  339
latitud en 2024:  [20.72249627] latitud en  2 :  [20.72249627]
longitud en 2024:  [-103.3800223] longitud en  2 :  [-103.3800223]
No hay coincidencias en latitud
ID:  340
latitud en 2024:  [20.72229883] latitud en  2 :  [20.72229883]
longitud en 2024:  [-103.3767978] longitud en  2 :  [-103.3767978]
No hay coincidencias en latitud
ID:  341
latitud en 2024:  [20.71285046] latitud en  2 :  [20.71285046]
longitud en 2024:  [-103.3756647] longitud en  2 :  [-103.3756647]
No hay coincidencias en latitud
ID:  342
latitud en 2024:  [20.66518152] latitud en  2 :  [20.66518152]
longitud en 2024:  [-103.4192211] longitud en  2 :  [-103.4192211]
No hay coincidencias en latitud
ID:  343
latitud en 2024:  [20.66459936] latitud en  2 :  [20.66459936]
longitud en 2024:  [-103.4230589] longitud en  2 :  [-103.4230589]
No hay coincidencias en latitud
ID:  344
latitud en 2024:  [20.66256932] latitud en  2 :  [20.66256932]
longitud en 2024:  [-103.4203018] longitud en  2 :  [-103.4203018]
No hay coincidencias en latitud
ID:  346
latitud en 2024:  [20.68560931] latitud en  2 :  [20.68560931]
longitud en 2024:  [-103.3437307] longitud en  2 :  [-103.3437307]
No hay coincidencias en latitud
ID:  347
latitud en 2024:  [20.68385128] latitud en  2 :  [20.68385128]
longitud en 2024:  [-103.3416855] longitud en  2 :  [-103.3416855]
No hay coincidencias en latitud
ID:  348
latitud en 2024:  [20.68323747] latitud en  2 :  [20.67805741]
longitud en 2024:  [-103.3352032] longitud en  2 :  [-103.3416985]
No hay coincidencias en latitud
No hay coincidencias en longitud
ID:  349
latitud en 2024:  [20.6895757] latitud en  2 :  [20.6895757]
longitud en 2024:  [-103.3337929] longitud en  2 :  [-103.3337929]
No hay coincidencias en latitud
ID:  350
latitud en 2024:  [20.70509097] latitud en  2 :  [20.70509097]
longitud en 2024:  [-103.3630889] longitud en  2 :  [-103.3630889]
No hay coincidencias en latitud
ID:  351
latitud en 2024:  [20.67459513] latitud en  2 :  [20.67459513]
longitud en 2024:  [-103.403227] longitud en  2 :  [-103.403227]
No hay coincidencias en latitud
ID:  352
latitud en 2024:  [20.67263879] latitud en  2 :  [20.67263879]
longitud en 2024:  [-103.404018] longitud en  2 :  [-103.404018]
No hay coincidencias en latitud

In [2]:
datos_2019 = pd.read_csv('mibici/2019.csv')

In [19]:
datos_2019.head()

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,Origen_Id,Destino_Id,Tiempo_viaje
0,8901295,341162,M,1992.0,2019-01-01 00:00:00,2019-01-01 00:16:09,50,54,16.150000
1,8901296,413443,M,1985.0,2019-01-01 06:01:05,2019-01-01 06:16:27,38,194,15.366667
2,8901297,444232,M,1995.0,2019-01-01 06:01:19,2019-01-01 06:09:55,86,18,8.600000
3,8901298,437533,M,1998.0,2019-01-01 06:01:25,2019-01-01 06:02:04,86,86,0.650000
4,8901299,430224,M,1992.0,2019-01-01 06:01:57,2019-01-01 06:05:01,27,52,3.066667

In [3]:
# BEGIN: Filter and save DataFrame
filtered_datos_2019 = datos_2019[(datos_2019['Origen_Id'] != 124) | (datos_2019['Destino_Id'] != 124)]
filtered_datos_2019 = filtered_datos_2019[(filtered_datos_2019['Origen_Id'] != 124) & (filtered_datos_2019['Destino_Id'] != 124)]
filtered_datos_2019.to_csv('mibici/2019.csv', index=False)
# END: Filter and save DataFrame

In [4]:
del datos_2019

In [5]:
datos_2020 = pd.read_csv('mibici/2020.csv')
datos_2020.head()

,Viaje_Id,Usuario_Id,Genero,Año_de_nacimiento,Inicio_del_viaje,Fin_del_viaje,Origen_Id,Destino_Id,Tiempo_viaje
0,14420217,451617,M,1992.0,2020-01-01 06:02:20,2020-01-01 06:05:38,52,268,3.300000
1,14420218,324211,M,1985.0,2020-01-01 06:02:22,2020-01-01 06:07:32,254,180,5.166667
2,14420219,611633,M,1981.0,2020-01-01 06:03:01,2020-01-01 06:21:43,258,278,18.700000
3,14420220,521601,M,1989.0,2020-01-01 06:05:48,2020-01-01 06:15:11,200,201,9.383333
4,14420221,631227,M,1979.0,2020-01-01 06:08:15,2020-01-01 06:29:33,151,248,21.300000

In [6]:
filtered_datos_2020 = datos_2020[(datos_2020['Origen_Id'] != 124) | (datos_2020['Destino_Id'] != 124)]
filtered_datos_2020 = filtered_datos_2020[(filtered_datos_2020['Origen_Id'] != 124) & (filtered_datos_2020['Destino_Id'] != 124)]
filtered_datos_2020.to_csv('mibici/2020.csv', index=False)