In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from functions import *

In [8]:
dir = '/home/user/Desktop/Graficas/'

In [9]:
datos_2019 = pd.read_csv(f'{dir}mibici/2019.csv')
data = datos_2019[datos_2019['Inicio_del_viaje'].str.startswith('2019-01')]
estaciones = leer_matriz(f'{dir}Adj_mibici/matrices_estaciones/est_2019.txt')
users_counts = data['Usuario_Id'].value_counts()
users = users_counts.index.tolist()
est1 = np.sort(data['Origen_Id'].unique())
est2 = np.sort(data['Destino_Id'].unique())
est = np.unique(np.concatenate((est1, est2)))

In [12]:
def count_trips_mibici(data_user):
    viajes_user = data_user.groupby([data_user[['Origen_Id', 'Destino_Id']].min(axis=1), data_user[['Origen_Id', 'Destino_Id']].max(axis=1)]).size().reset_index(name='counts')
    viajes_user.columns = ['Est_A', 'Est_B', 'counts']
    return viajes_user

In [13]:
conteos = {users[i]: count_trips_mibici(data[data['Usuario_Id'] == users[i]]) for i in range(len(users))}

In [14]:
conteos[users[0]]

    Est_A  Est_B  counts
0       3     70       1
1       3     71       1
2       3     86       4
3       4     70       1
4       4     71       1
5       4     86       6
6      70     70      21
7      70     71      12
8      70     86     106
9      71     71       3
10     71     72       1
11     71     84       1
12     71     86      28
13     71     87       1
14     72     86       3
15     84     86       1
16     85     86       3
17     86     86     171
18     86     87       2
19     86    277       2
20     86    283       1

In [19]:
def find_probabilities(conteos):
    probs = {key: conteos[key]['counts'].value_counts(normalize=True) for key in conteos.keys()}
    return probs

In [20]:
probabilidades = find_probabilities(conteos)

In [21]:
probabilidades[users[0]]

0     0.002703
1     0.002703
2     0.010811
3     0.002703
4     0.002703
5     0.016216
6     0.056757
7     0.032432
8     0.286486
9     0.008108
10    0.002703
11    0.002703
12    0.075676
13    0.002703
14    0.008108
15    0.002703
16    0.008108
17    0.462162
18    0.005405
19    0.005405
20    0.002703
Name: counts, dtype: float64